[2020-04-10 17:39] markfreedmantulip opened #1 "User Account Permissions"
We need to allow users to access their accounts without consideration of the the device they are using

[2020-04-10 17:40] markfreedmantulip opened #2 "Complete and change to step (non-access apps)"
When you complete an app and return to it, if you do not have access to it, it should not go back to the splash screen

[2020-04-10 17:41] markfreedmantulip opened #3 "Slack messages - move to Tulip community"

[2020-04-10 17:51] markfreedmantulip opened #4 "Nomenclature change"
product creator
production lead time -> fulfillment lead time

[2020-04-10 17:55] markfreedmantulip opened #5 "Allow supplier navigation to setup supplier site"

[2020-04-10 18:08] markfreedmantulip opened #6 "corps sql did not add supplier to creation of workcenter"

[2020-04-10 18:11] markfreedmantulip opened #7 "Remove masks on names frmo order form"

[2020-04-10 18:11] markfreedmantulip opened #8 "setup my accout button make it blue"

[2020-04-10 18:12] markfreedmantulip opened #9 "streamline bottom left button to match task"

[2020-04-10 18:16] markfreedmantulip opened #10 "Choose org (choose supplier)"

[2020-04-10 18:19] markfreedmantulip opened #11 "Alerts to client of order status"

[2020-04-10 18:22] markfreedmantulip opened #12 "on line qty update - customer goes blnak"

[2020-04-10 18:32] #6 closed, assigned to nobody

[2020-04-10 18:38] #5 closed, assigned to nobody

[2020-04-10 18:43] #4 closed, assigned to nobody

[2020-04-10 18:43] #7 closed, assigned to nobody

[2020-04-10 18:44] #8 closed, assigned to nobody

[2020-04-10 18:44] #10 closed, assigned to nobody

[2020-04-10 18:46] #12 closed, assigned to nobody

[2020-04-10 21:10] markfreedmantulip opened #13 "site managers to join existing site"

[2020-04-10 21:19] markfreedmantulip opened #14 "supplier orders -> supplier demands"

[2020-04-10 21:19] markfreedmantulip opened #15 "allow sites to join without having to create"

[2020-04-10 21:20] markfreedmantulip opened #16 "receive inveotry filter on your products only"

[2020-04-10 21:29] markfreedmantulip opened #17 "courier mgmt verify grey buttons / and change to blue"

[2020-04-10 21:31] markfreedmantulip opened #18 "courier manager add person name and phone number"

[2020-04-10 21:33] markfreedmantulip opened #19 "when unassigned - notify them that they arent required anymoe"

[2020-04-10 21:41] markfreedmantulip opened #20 "master screen for site manager"

[2020-04-10 21:44] markfreedmantulip opened #21 "let courier name stay on transport record"

[2020-04-10 21:56] markfreedmantulip opened #22 "supplier site "manager" password"

[2020-04-11 21:48] #16 closed, assigned to nobody

[2020-04-11 21:49] #2 closed, assigned to nobody

[2020-04-11 21:52] #13 closed, assigned to nobody

[2020-04-11 21:52] #15 closed, assigned to nobody

[2020-04-11 21:52] #18 closed, assigned to nobody

[2020-04-13 12:17] #21 closed, assigned to nobody

[2020-04-13 14:36] kubat commented on #3
Done.

[2020-04-13 14:36] #3 closed, assigned to nobody

[2020-04-13 17:04] #22 closed, assigned to nobody

[2020-04-13 17:04] #1 closed, assigned to nobody

[2020-04-13 17:06] markfreedmantulip opened #23 "Shipment dashboard"
Lightspeed needs a dashboard for accounting processes.  Sanjay, JR, and Amy want to see high level summaries of what we shipped and to which institution

[2020-04-13 17:34] markfreedmantulip opened #24 "Matl Replenishment - Allow supplier sites to express demands"

[2020-04-13 17:59] markfreedmantulip opened #25 "Lightspeed - Dashbaord"
-qty of demand by model / size
-qty inventory by model
- qty shipped
list of orders

[2020-04-14 14:48] sanj-maskson opened #26 "Executive summary view"
I need a high level overview of how we're doing that I can quickly share out daily:

Critical:
- how many masks have we shipped
- how many hospitals/sites have we shipped to

Less critical:
- Exactly which hospitals we're in
- total masks in backlog of requests
- total of hospitals in backlog

Ideally this is broken down by date, and has a summary column

[2020-04-14 16:48] markfreedmantulip commented on #26
@sanj-maskson please review and close out this request if you are happy with the result
https://datastudio.google.com/s/uLJxedgn84Y

[2020-04-14 16:48] #25 closed, assigned to nobody

[2020-04-14 16:48] #23 closed, assigned to nobody

[2020-04-14 18:07] kubat opened #27 "Way to mark shipment as fullfilled by other system."
Basically, have a button to mark a shipment as completed. This is so that other external systems can be used to do last-mile. Like on-fleet for GUPPE.

[2020-04-14 19:02] sanj-maskson commented on #26
It'd be helpful to clear out orders sent to home.  Perhaps a filter for >=5 masks would help.

And can we add up orders of different sizes?  I really want "100 to Beverly, 50 to Queens"

[2020-04-15 13:39] markfreedmantulip commented on #26
@sanj-maskson is this completed?

[2020-04-15 14:30] bsauln opened #28 "Add Contact email to orders dashboard"
https://datastudio.google.com/u/0/reporting/1lfL3n_MSg-T33BIw0qj3BkLeAI8Q_RUp/page/MAAKB?s=o6u9KXA3XeE

Please add a column that includes the contact email when sorting through the orders dashboard.

[2020-04-15 15:23] markfreedmantulip opened #29 "Courier packing slip"

[2020-04-15 16:00] #29 closed, assigned to nobody

[2020-04-15 16:08] markfreedmantulip commented on #28
@bsauln updated - please confirm and close this request

[2020-04-15 18:42] markfreedmantulip opened #30 "cannot see drop down for other gorups"

[2020-04-15 18:50] markfreedmantulip opened #31 "slack to specific groups!"

[2020-04-15 18:54] markfreedmantulip opened #32 "product bom error"

[2020-04-15 19:12] markfreedmantulip opened #33 "add boxes to aarons screen"

[2020-04-15 19:12] markfreedmantulip opened #34 "assign click off/click on make the status update"

[2020-04-15 19:25] #30 closed, assigned to nobody

[2020-04-15 19:50] #32 closed, assigned to nobody

[2020-04-15 19:55] #34 closed, assigned to nobody

[2020-04-15 19:56] markfreedmantulip opened #35 "courier sign up with account instead of device"

[2020-04-15 19:56] #9 closed, assigned to nobody

[2020-04-15 20:06] markfreedmantulip commented on #27
done

[2020-04-15 20:06] #17 closed, assigned to nobody

[2020-04-15 21:34] AmyLee1920 opened #36 "Create Order - New Institution/Client"
Currently when the CSR's manually enter a new order they do the following:
1. Search if the institution is already in the system - if so, they look to see if the client is associated, If no institution/client - they create institution/client on the "Create Order" screen.
2. Typically if the CSR is creating a new institution/client - what triggered them to do this is the need to create an order whi

[2020-04-15 21:36] AmyLee1920 opened #37 ""Customers" screen for CSRs"
When a CSR clicks Approve User, Update User, or Make Primary buttons, all of the data fields on the right part of the screen go blank - this makes it difficult for CSRs to validate/verify that the changes or updates they made were committed to the records. They then have to re-look-up the same record to see the change has taken place.

[2020-04-15 21:38] AmyLee1920 opened #38 ""Orders" screen for CSRs"
1. We cannot see the order statuses well on the left side of this screen.
2. Would be nice to be able to see tracking numbers for orders that have shipped.
3. When we click the 'Update notes' button on the Order notes, Hold, CSR Review, Open buttons - the right data fields go blank and we have to re-lookup the customer, order, institution to ensure the updates were committed to the records.  This

[2020-04-15 21:43] #35 closed, assigned to nobody

[2020-04-16 13:10] bsauln commented on #28
Looks good!

[2020-04-16 13:10] #28 closed, assigned to nobody

[2020-04-16 13:41] AmyLee1920 opened #39 "New Order - seeing old order lines"
When I tried to open a new order this morning, I saw old closed/shipped order lines in the shopping cart. When I clear the cart, the screen went blank and needed to re-lookup/enter the institution/client information again.

[2020-04-16 13:43] AmyLee1920 opened #40 "New Orders - going to status open"
New orders this am were going to a status of 'Open' rather than 'Review' this would mean that new orders entered in the system are automatically visible by Lightspeed before CSRs have a chance to vet the client/order and could be shipped before ready. Seeing too many problems this am with Order entry - asked CSR's to cease any order entry until problems are addressed.

[2020-04-16 13:43] AmyLee1920 opened #41 "Create Order delivery notes not porting to order notes on orders screen"
This means CSRs have to enter these notes 2x for each new order entered.

[2020-04-16 13:45] AmyLee1920 opened #42 "New Order - Cannot submit cart."
MO208 was entered this am for adapters only just fine. MO209 - same process in Tulip, click the 'Submit Cart' button, yellow confirmation that order was created pops up. Switch over to Orders screen and cannot find MO209. Back to Create Order screen - search for same institution/client and see MO209 still in cart...click 'Submit Cart' again, but order again not visible from Orders screen. Seems li

[2020-04-16 13:52] AmyLee1920 opened #43 "Fulfillment Dashboard - showing additional records today that were not there yesterday"
Yesterday Brad and I ran a report to find all of the V2 S/M and L/XL in closed status in order to advise clients that they would be receiving new injection molded adapters. The report returned 50 records yesterday. Today the report returns 70 records and some of the individual orders on today's report include individuals who should have been advised in messaging yesterday that they would receive n

[2020-04-16 13:56] markfreedmantulip commented on #42
MO209 should be in review status. Please back into the navigation screen and then into CSR - place order to test the changes

[2020-04-16 13:59] markfreedmantulip commented on #43
I do not know what query you were running - from what I can tell MO160 was delivered on 4/5, for example.

[2020-04-16 13:59] markfreedmantulip commented on #40
Fixed. please review

[2020-04-16 13:59] markfreedmantulip commented on #39
Fixed on future orders, please review

[2020-04-16 14:01] markfreedmantulip commented on #39
all active carts have been cleared

[2020-04-16 14:05] markfreedmantulip commented on #38
1. order status has been rearranged.
2. dashboard can be used for tracking numbers for the time being
3. splitting off this request

[2020-04-16 14:06] AmyLee1920 opened #44 "Historic Delivery Notes on Create Order Screen for Existing Clients"
CSRs need a way to see the historic delivery/order notes when creating a new order to make sure we don't have to switch between screens or orders to indicate the correct historic instructions for delivery when placing new orders.

[2020-04-16 14:06] markfreedmantulip opened #45 "Customer management - do not clear entry after submission"
currently we are completing the app after performing tasks, clearing the informatino that was loaded.
steamline this to reduce clicking / processing waste

[2020-04-16 14:12] AmyLee1920 opened #46 "double load of institution dropdown on 'create order' screen"
I think there may be a double-load happening in the institution list dropdown on the 'Create Order' screen. When CSR navigates from one of the other screens to 'Create Order' screen, and selects the dropdown, the list appears, fades out, then reappears like it is reloading.

[2020-04-16 14:39] markfreedmantulip commented on #46
whenever users click on any of the buttons on the bottom i am having the app reload entirely - this forces users to automatically be pushed to the newest version (because i imagine they will stay in this screen all the time and I don't want them on previous versions)

[2020-04-16 14:45] markfreedmantulip commented on #44
delivery notes stay attached to addresses, if you add a delivery note to an address it will be transferred to the order notes on cart submit

[2020-04-16 14:47] markfreedmantulip commented on #41
delivery notes are related to specific addresses, when carts are submitted those delivery notes should transfer over as the default order notes - this was just verified in version 28 of csr app

[2020-04-16 15:16] AmyLee1920 opened #47 "Create Order not filling Delivery Address on Order Screen"
Created order MO219 with 4 Arborway Drive. Scituate, MA 02066 as address. Looked at newly created order on Orders screen and it was associated with 204 E Chestnut St, Independence, KS 67301, USA address? This could be easily missed by a CSR if order screen does not populate with the address provided on the Create Order screen.

[2020-04-16 15:29] AmyLee1920 opened #48 "Historic orders not showing delivery address information on Orders screen"
Example: when search for MO163 on Orders screen - no delivery address is indicated to know where the order was delivered.

[2020-04-16 16:03] markfreedmantulip opened #49 "send courier order back to shipping terminal button"

[2020-04-16 16:07] AmyLee1920 opened #50 "Delivery notes pulling into institution on Create Order for incorrect client"
See Beth Isreal Lahey Health-Beverly hospital when Saul Cohen is selected as client recipient. It is pulling delivery notes into order from Dr. Justin Fox rather than from historic Saul Cohen orders.

[2020-04-16 16:13] AmyLee1920 opened #51 "Strange Order Status"
MO131 - 1/2 the order is in OPEN/DELIVERED status and other half is in CLOSED/DELIVERED status. Not sure how this can occur?

[2020-04-16 16:14] markfreedmantulip opened #52 "unreserve feature request"

[2020-04-16 16:48] markfreedmantulip opened #53 "shipping terminal autorefresh"

[2020-04-16 17:26] AmyLee1920 opened #54 "QTY field on P5 of MO Fulfillment Dashboard - Orders & Inventory"
I think the QTY field is intended to be a total quantity of masks on an order, but it is not calculating correctly after spot-checking a few orders. Ex: MO199 has 4 masks on order but QTY=2 MO167 has 2 masks on order, but QTY=1

[2020-04-16 18:32] AmyLee1920 commented on #45
Example: When we click the 'Update notes' button on the Order notes, Hold, CSR Review, Open buttons - the right data fields go blank and we have to re-lookup the customer, order, institution to ensure the updates were committed to the records. This could use some streamlining like the 'Create Order' screen.

[2020-04-16 18:33] AmyLee1920 commented on #38
1 and 2 rearrangement works thanks. Noted 3 comment above on the split-off request.

[2020-04-16 18:33] #38 closed, assigned to nobody

[2020-04-16 18:35] AmyLee1920 commented on #39
I think this is fixed now.

[2020-04-16 18:35] #39 closed, assigned to nobody

[2020-04-16 18:35] AmyLee1920 commented on #40
Fixed.

[2020-04-16 18:35] #40 closed, assigned to nobody

[2020-04-16 18:39] AmyLee1920 commented on #41
If an institution has more than one client associated, the delivery notes are populating with whomever is the first client associated with the institution (I don't think they have to be set as primary client). Since this is a "Create Order" screen - Delivery notes sound like they should be 'site delivery notes', but in reality delivery notes are tied to the client, not to the institution necessari

[2020-04-16 18:39] AmyLee1920 commented on #42
I think this is fixed.

[2020-04-16 18:39] #42 closed, assigned to nobody

[2020-04-16 18:42] AmyLee1920 commented on #43
MasksOn Fulfillment Dashboard Page 5 of 8 - Orders and Inventory. We filtered for Status=CLOSED and Product = PPE L/XL v2 or PPE S/M v2. Yesterday there were 50 records presented, today there were 70. Some of that difference was because of orders opened between yesterday and today; however the examples I noted above were not on the report yesterday, but were on the report today with same filtering

[2020-04-16 18:43] AmyLee1920 commented on #44
I don't think this is working the way we need it to.

[2020-04-16 18:51] AmyLee1920 commented on #46
There is no additional click happening after the initial click of the dropdown menu. Click dropdown menu, wait a second, menu fades quick and reappears like it's refreshing more than the initial click of the dropdown.

The app reload is creating a lot of additional clicks and reloads on this page. Particularly because CSR's are creating so many new institution/clients vs. picking from existing. Wh

[2020-04-16 19:28] markfreedmantulip commented on #27
@kubat please close this

[2020-04-16 20:21] markfreedmantulip commented on #47
this specific issue is resolved - but i am going to create a new issue to handle to get after the root cause - google API is trying to find a match but if someone enters in "123" for an address, it will use some alogrithm to return "Exner St, Coffeyville, KS 67337, USA"

if you type in nothing, it returns empty. so CSRs should be made aware that there is an address lookup occurring as a short term

[2020-04-16 23:02] #27 closed, assigned to nobody

[2020-04-17 13:10] #33 closed, assigned to nobody

[2020-04-17 13:11] #26 closed, assigned to nobody

[2020-04-17 13:12] #47 closed, assigned to nobody

[2020-04-17 13:13] markfreedmantulip opened #55 "Google API -> error checking"
Google api is returning random addresses if there is no match - we need to make sure we aren't shipping to the wrong location by playing with the google api

[2020-04-17 13:14] #51 closed, assigned to nobody

[2020-04-17 13:23] #46 closed, assigned to nobody

[2020-04-17 13:34] markfreedmantulip commented on #54
this is intentional - MO199 has two lines on the order, the qty is representative of the order line quantity
![image](https://user-images.githubusercontent.com/63469492/79574742-9fa01000-808e-11ea-8897-bd8990e58a0a.png)

[2020-04-17 13:34] #54 closed, assigned to nobody

[2020-04-17 13:35] markfreedmantulip commented on #43
unable to reproduce this error

[2020-04-17 13:36] #43 closed, assigned to nobody

[2020-04-17 13:50] markfreedmantulip commented on #36
completed

[2020-04-17 13:50] markfreedmantulip commented on #36
separating out the order notes request

[2020-04-17 13:50] #36 closed, assigned to nobody

[2020-04-17 13:50] markfreedmantulip opened #56 "Order notes on the create order screen"
Also on this screen, it would be helpful to have the order notes field on "Create Order" screen near the cart and allow that information to feed the same field on the "Orders Screen"

[2020-04-17 14:23] markfreedmantulip commented on #55
only accept "street address" or "premise" types

[2020-04-17 14:23] markfreedmantulip opened #57 "add serial number / box number to packing slip"

[2020-04-17 14:24] AmyLee1920 opened #58 "New issue with Create Order over to Orders screen today"
Advise to CSRs: On the Orders Screen - I'm seeing a new issue today where the Delivery address is not auto-filling with what we indicate on the Create Order screen - the addresses entered on Create Order  screen will be in the dropdown on the Orders screen - so make sure you pick the right one and click the 'Change Address' button on the Orders screen before you 'Open' the order.

[2020-04-17 15:45] markfreedmantulip commented on #58
phone call with amy to view - changes made
1. google will now update the address you typed in and show the returned address (still need to implement validation)
2. new client is being set to primary upon creation
3. approve user should no longer blank the screen
4. delivery address... surprised to see that not pop up correctly when clicking on the order in orders screen. please verify this is stil

[2020-04-17 15:45] #58 closed, assigned to nobody

[2020-04-17 16:23] markfreedmantulip opened #59 "add shipping checks to non SN shipping"

[2020-04-17 16:35] #59 closed, assigned to nobody

[2020-04-17 16:35] #57 closed, assigned to nobody

[2020-04-17 16:37] markfreedmantulip commented on #11
send email with tracking number or courier

[2020-04-17 20:54] sanj-maskson opened #60 "Even simpler exec dashboard"
see here for a mockup

https://docs.google.com/spreadsheets/d/1bgD_Zadbn2yzanY5V8eL954jd-6L1TRb3XymtH2nvZw/edit

[2020-04-18 15:51] markfreedmantulip opened #61 "pagination of shipping terminal"

[2020-04-18 15:52] markfreedmantulip opened #62 "receiving deliveries"

[2020-04-20 00:28] #61 closed, assigned to nobody

[2020-04-20 02:00] #62 closed, assigned to nobody

[2020-04-20 02:01] markfreedmantulip opened #63 "clinician order delivery location"

[2020-04-20 02:02] markfreedmantulip opened #64 "add dollar value to parts in sql"

[2020-04-20 14:51] markfreedmantulip opened #65 "convert products and boms over to sql"

[2020-04-20 15:18] markfreedmantulip opened #66 "courier day volunteering"

[2020-04-20 15:18] markfreedmantulip opened #67 "courier pull"

[2020-04-20 15:46] markfreedmantulip opened #68 "reserve all on screen button"

[2020-04-20 18:08] bsauln opened #69 "Shipment Label creation adjustments"
We would like to have the order form include a check box that is required for the requester to let us know if the shipping address is residential.

The following shipping option selection should be made as follows:

IF location is within 300 miles of 01835 zip code:
FedEx Ground Home Delivery - residence
FedEx Express Saver - for residential/business

ELSE (outside the 300 mile radius)
Default to

[2020-04-21 14:10] #65 closed, assigned to nobody

[2020-04-21 14:10] #64 closed, assigned to nobody

[2020-04-21 14:10] #63 closed, assigned to nobody

[2020-04-21 14:14] markfreedmantulip commented on #69
this may take some time to work out - how urgent is this?

[2020-04-21 14:41] bsauln commented on #69
This will help significantly reduce our shipping costs for MasksOn. Between
John R and me this is an important aspect. What else have you been juggling?
Best,
Bradley

On Tue, Apr 21, 2020 at 10:14 AM markfreedmantulip <notifications@github.com>
wrote:

[2020-04-21 17:36] jackkrooss opened #70 "add explicit courier option when signing up"

[2020-04-21 17:37] jackkrooss opened #71 "add courier organization field to courier and display field when showing available couriers"

[2020-04-21 17:52] #53 closed, assigned to nobody

[2020-04-21 17:52] #24 closed, assigned to nobody

[2020-04-21 18:03] jackkrooss opened #72 "add "will call" or "pick up" shipping option"

[2020-04-21 18:22] markfreedmantulip commented on #70
this is currently an explicit option, are you saying push it further up?
[i am looking for ppe]
[i am supplying ppe]
[i am a courier]

[2020-04-21 18:25] markfreedmantulip opened #73 "generic dashboard"
a generic dashboard for all suppliers (our use) - duplicate and modify filter when new suppliers come online

[2020-04-21 18:40] jackkrooss commented on #70
Sorry did not know

On Tue, Apr 21, 2020, 11:22 AM markfreedmantulip <notifications@github.com>
wrote:

[2020-04-21 18:40] jackkrooss commented on #70
It is fine then. Again apologies

On Tue, Apr 21, 2020, 11:40 AM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-04-21 19:30] #70 closed, assigned to nobody

[2020-04-21 21:30] markfreedmantulip opened #74 "shipping screen - the verify items in package is not working"

[2020-04-21 21:30] markfreedmantulip opened #75 "monday.com integration"

[2020-04-21 21:53] #74 closed, assigned to nobody

[2020-04-21 21:54] markfreedmantulip opened #76 "improved address -> actual location"

[2020-04-21 23:19] ilya-bass commented on #75
@markfreedmantulip I added "additional notes" to my [app example](https://trial-looking-to-help-ppelogisticsorg-ef.tulip.co/groups/FSF62Cvsd8DHCnRaC/processes/HkFio79hpao59Fqnk/versions/M4YDuCywB9Xbfw3da/steps/CxKToPWnwrrKQtMcn).  It's yet another substitution in the template, so you will need to update the template and also add `__additional_notes__ `substitution in the list of trigger actions.

[2020-04-22 01:37] #76 closed, assigned to nobody

[2020-04-22 01:37] #75 closed, assigned to nobody

[2020-04-22 13:19] markfreedmantulip opened #77 "DHL waybill mobile app"
group orders into a single waybill

[2020-04-22 13:23] markfreedmantulip opened #78 "clinician app - the alt_address not filled in when you select address fromm drop down and add notes"

[2020-04-22 13:57] AmyLee1920 opened #79 "Record creation/action traceability"
Would love for there to be a way to trace record actions (create/update) for Orders and Customers. For example having a way to know who is forgetting to 'open' orders or 'approve' customers in the system would help me with training efforts for CSR team.

[2020-04-22 14:00] AmyLee1920 opened #80 "Bad addresses process"
We are going to need a process for shipping to indicate that an address is not going through the shipping terminal properly or that GoShippo/DHL etc. need it in another format for successful shipment. I think that that is a responsibility that the CSR team can handle, they would just need a way to know via a status-change that records have been bumped back to them for a re-check and a process with

[2020-04-22 14:15] AmyLee1920 opened #81 "Need A Report for Multiple Requests within Same Institution"
Now that word is spreading inside institutions about MasksOn.org - we are starting to field more requests from multiple different individuals within particular institutions. We need a report that gives a listing by institution of all of the requestors and quantities requested from that institution so that we can approach these individuals and try to get a PPE decision-maker contact. This will faci

[2020-04-22 14:24] markfreedmantulip commented on #78
fixed - need to test more though

[2020-04-22 15:29] markfreedmantulip opened #82 "transfer inventory"

[2020-04-22 15:55] #82 closed, assigned to nobody

[2020-04-22 15:56] #78 closed, assigned to nobody

[2020-04-22 15:57] markfreedmantulip opened #83 "handle DHL sending PDFs for shipping label"

[2020-04-22 19:51] AmyLee1920 opened #84 "List of Institutions becoming long in Create Order Screen"
Would love to have a dropdown to limit institutions list by state in the Create Order screen  - it's getting quite long.

[2020-04-22 19:54] AmyLee1920 opened #85 "Orders Report By State, Date, Institution, Client..."
We have a need to be able to pull order reports by more criteria than currently filterable on the P5 of DataStudio Dashboards - by state, date opened, date shipped, status, email, phone, institution name, alphabetically sorted by institution name, client name, quantity delivered

[2020-04-22 19:59] DHG18 opened #86 "Shopify API Webhook"
LOW PRIORITY - not on critical path.

[2020-04-23 00:04] markfreedmantulip opened #87 "Workcenter update (miamimed)"

[2020-04-23 00:29] markfreedmantulip opened #88 "clean up miami data"
delte the weird inventory frmo before
clean up old institutions (jacskon as well)
delete old orders as well
delte old customers

[2020-04-23 01:14] markfreedmantulip opened #89 "legal doc update"

[2020-04-23 02:44] #89 closed, assigned to nobody

[2020-04-23 02:44] #88 closed, assigned to nobody

[2020-04-23 03:27] markfreedmantulip opened #90 "Sort institution drop down"

[2020-04-23 13:39] #49 closed, assigned to nobody

[2020-04-23 13:55] #90 closed, assigned to markfreedmantulip

[2020-04-23 18:58] markfreedmantulip opened #91 "add record of material transfer"

[2020-04-24 00:29] ianslai opened #92 "QOL - Courier Navigation Screens - Add link to query Maps application"
Add link or button from Pick-up/Drop off addresses to query Google or Apple Maps apps for said address, to facilitate lookup for courier GPS navigation.

[2020-04-24 00:31] ianslai opened #93 "QOL - Courier Navigation Screens - Add link from Contact phone number"
Add link or button from Drop-off Contact's phone number, to mobile device's Phone or Messages app, to facilitate courier contact with recipient.

[2020-04-24 16:29] markfreedmantulip opened #94 "Pickup from location but it isnt a workcenter - just a one time pick up"

[2020-04-24 19:21] #91 closed, assigned to nobody

[2020-04-24 19:47] markfreedmantulip opened #95 "paginate the create product screen"

[2020-04-24 20:36] markfreedmantulip opened #96 "courier pickup dropoff distance in one"

[2020-04-24 20:38] #96 closed, assigned to nobody

[2020-04-25 18:59] #67 closed, assigned to nobody

[2020-04-26 12:42] ilya-bass commented on #73
Tracking progress here https://docs.google.com/spreadsheets/d/1QR-x-nM868vzzuKq8pVaBIgWljCGwpwear8eTrBFVzA/edit#gid=0

[2020-04-27 12:58] markfreedmantulip opened #97 "courier mgmt view into the world"

[2020-04-27 17:17] markfreedmantulip opened #98 "CSRs can place orders for any item even non FG"

[2020-04-27 17:32] markfreedmantulip opened #99 "add drop off notes option"

[2020-04-27 17:35] markfreedmantulip opened #100 "courier help button to slack"

[2020-04-27 22:28] #98 closed, assigned to nobody

[2020-04-28 16:11] markfreedmantulip opened #101 "bug with inventory transfer should not show mulitple lines DG office"

[2020-04-28 16:57] markfreedmantulip opened #102 "delete PN from org"

[2020-04-28 18:08] #102 closed, assigned to nobody

[2020-04-29 18:46] AmyLee1920 opened #103 "Cannot see Order Numbers in Tulip Customers Screen"
With the automation of requests from Gmail into tulip as interim solution - it is creating very long Institution names which bumps the Order number too far to the right to see it. Can you put order number as left-most column on Customer's screen please?

[2020-04-29 19:42] AmyLee1920 opened #104 "Shipping Slowdowns"
There are real concerns from the Lightspeed team that the shipping process is slowing down their ability to get masks out the door. Can someone please work with them to fully understand the challenges?

One thing that I am aware is causing challenges is that there are cases when the requestor knows their address more-so than Google might. I'm questioning whether the use of this API is helping or h

[2020-04-30 16:20] markfreedmantulip commented on #104
most of the issues we are seeing are due to the mass import of MOA's.  Steve is fixing this  now.

Moving forward we will probably make a change to when the address components are verified but genrally speaking this is not a problem up until the first MOA upload

[2020-04-30 16:20] #104 closed, assigned to nobody

[2020-04-30 16:21] markfreedmantulip commented on #103
will update today

[2020-04-30 16:22] markfreedmantulip commented on #103
which screen @AmyLee1920 ?

[2020-04-30 16:23] markfreedmantulip commented on #31
will not do

[2020-04-30 16:23] #31 closed, assigned to nobody

[2020-04-30 16:53] markfreedmantulip opened #105 "Address components in address table"
store address components in the address table so that we can use google api to help us, not hurt us

[2020-04-30 19:57] markfreedmantulip opened #106 "orders screen, have csr review on top or prefiltered"

[2020-04-30 20:07] markfreedmantulip opened #107 "demand manager clip names"

[2020-04-30 20:11] markfreedmantulip opened #108 "accept all, courier"

[2020-04-30 23:39] AmyLee1920 commented on #103
Customer in CSR App

On Thu, Apr 30, 2020 at 12:22 PM markfreedmantulip <notifications@github.com>
wrote:

--
*---- Thank you for all you are doing! ----*
Amy Lee
amylee1@maskson.org
Assisting John Rousseau
Head of Engineering
john.rousseau@maskson.org

*IMPORTANT INFORMATION:*
“MasksOn.org <https://slack-redir.net/link?url=http%3A%2F%2FMasksOn.org>
Reusable
Mask Kit Model 100” are an "Improvised

[2020-04-30 23:48] #95 closed, assigned to nobody

[2020-04-30 23:52] markfreedmantulip opened #109 "workcenter id and other unique ids"

[2020-05-01 03:18] ilya-bass commented on #60
@sanj-maskson I added the last page (9) to the [report](https://datastudio.google.com/u/0/reporting/1lfL3n_MSg-T33BIw0qj3BkLeAI8Q_RUp/page/ojYOB), see if it meets your needs?  It's not exactly the same as in your template, but the data studio has its limitations...

[2020-05-04 18:23] markfreedmantulip opened #110 "ad hoc transports"

[2020-05-04 19:05] #97 closed, assigned to nobody

[2020-05-04 19:05] markfreedmantulip commented on #94
moved to ad hoc trasnports

[2020-05-04 19:05] #94 closed, assigned to nobody

[2020-05-06 17:17] AmyLee1920 opened #111 "Shipping -bad addresses - need kick-back process to CSR team"
The Lightspeed team often needs to kick back requests to the CSR team for further shipping address verification or change. We need an easy way for them to do this in the the shipping screens that sends the order back to CSR/Salesforce ultimately with an order status of something like "Bad-Address" Then the CSR team can review these, see what's wrong, correct it and re-open the request when ready.

[2020-05-06 20:40] markfreedmantulip commented on #111
Proposed solution: allow shipping team to set order to CSR-REVIEW status from address confirmation screen

[2020-05-06 20:41] markfreedmantulip commented on #109
workcenter ids complete - testing now

[2020-05-06 20:41] markfreedmantulip commented on #110
pending workcenter ID item

[2020-05-07 00:51] markfreedmantulip opened #112 "allow couriers to change their info"

[2020-05-07 06:36] AmyLee1920 commented on #111
It needs to be in a different status than 'CSR-REVIEW' to trigger
appropriate review by CSR team like 'BAD-ADDRESS'.All orders that open in
the system come in as "CSR-REVIEW" so there is no way to distinguish the
record change need.

On Wed, May 6, 2020 at 4:41 PM markfreedmantulip <notifications@github.com>
wrote:

--
*---- Thank you for all you are doing! ----*
Amy Lee
amylee1@maskson.org
Assist

[2020-05-07 18:29] ilya-bass commented on #60
I think we are good for now after fixing one of the metrics yesterday

[2020-05-07 18:29] #60 closed, assigned to contextref

[2020-05-07 18:30] ilya-bass commented on #73
I think this can be closed as done with the current state of things.  Great work @ianslai

[2020-05-07 18:30] #73 closed, assigned to contextref, ianslai

[2020-05-07 21:49] #112 closed, assigned to nobody

[2020-05-07 21:49] #110 closed, assigned to nobody

[2020-05-07 21:49] #109 closed, assigned to nobody

[2020-05-08 15:05] jackkrooss opened #113 "Create the capability to change the User Password"

[2020-05-08 15:16] jackkrooss opened #114 "Workspace Navigation - “Create new site” >>>> “Create Site”"

[2020-05-08 15:16] jackkrooss opened #115 "Login - “Phone number” >>>> “Login ID (10 digit number: eg. 2334447778):”"

[2020-05-08 15:18] jackkrooss opened #116 "Please fill out following information - several changes see comment"
“Healthcare Institution” >>>> “Organization”
“Healthcare Institution Name” >>>>
“Organization Name (max 30 characters: eg. Massachusetts General Hospital):”
“Healthcare Institution Name” >>>>
“Organization Address (add1, add2, city, state, zip: eg. 55 Fruit St, Suite 100, Boston, MA 02114):”
“Delivery Address (if different): >>>>
“Delivery Address (add1, add2, city, state, zip: eg. 58 Fruit St,  D

[2020-05-08 15:18] jackkrooss opened #117 "Create Supplier - Create ability to edit/delete a supply site"

[2020-05-08 15:19] jackkrooss opened #118 "Choose an Activity - “Choose an Activity” >>>> “Operator Functions”"

[2020-05-08 15:19] jackkrooss opened #119 "Create / Edit Product - It’s impossible to enter decimal amounts in the Value (USD) slot (duplicate)"

[2020-05-08 15:20] jackkrooss opened #120 "Operator Functions (under Operator button) - Contact name is the same for all even though I put in different contact names for each site."

[2020-05-08 15:22] jackkrooss opened #121 "Customer - Can not log out of customer interface"
Can not log out of customer interface. Pressing menu on Begin view takes you to the Change App view, which then takes you to internal Tulip view. See BUG05022020a.JPG, BUG05022020b.JPG, BUG05022020c.JPG

https://drive.google.com/open?id=1NQv-OlROYJFDK1NlDcQaTEkhieUkw0XE
https://drive.google.com/open?id=1xTng5y1FIVvheDgx3SLe1QRwH2nBmBul
https://drive.google.com/open?id=1cPSUMePYkJEumnpT3hGK19ZAIZrD

[2020-05-08 15:23] jackkrooss opened #122 "Catalog - List the customer name on the catalog page"

[2020-05-08 15:23] jackkrooss opened #123 "Welcome to PPE Logistics - Login should be the big button and create new account only a small text button"

[2020-05-08 15:24] jackkrooss opened #124 "Supplier Demands - When you select a line it does not click. Also it does not highlight. It only shows up very small at the bottom. Can the bottom be bigger"

[2020-05-08 15:25] jackkrooss opened #125 "Supplier Demands - After I adjusted inventory incorrectly. I just typed in an amount without picking a product item. I get this listed in my inventory. See BUG05022020f.JPG"
https://drive.google.com/open?id=1QUkwQPypD49TSv1_uu6CLYER_CDHSYui

[2020-05-08 15:26] jackkrooss opened #126 "Orders to Ship - Need WILL CALL/PICK UP Button. It should print a will call label."

[2020-05-08 15:27] jackkrooss opened #127 "Orders to Ship - Changing line selected should click and highlight line"

[2020-05-08 15:27] jackkrooss opened #128 "Generic Dashboard - Shipping Dashboard - Filter by date range order number, customer, supplier site, product number. Shipments Overview just the numbers, Shipments By Item Bar Chart, Shipment Details list"

[2020-05-08 15:27] jackkrooss opened #129 "Generic Dashboard - Inventory Dashboard - Filter by supplier site Inventory By Item Bar chart, Inventory Detail list"

[2020-05-08 15:28] jackkrooss opened #130 "Supplier Demands - “Your Inventory” list goes off the page. See BUG05042020a.png"
https://drive.google.com/open?id=1FYJNDKIrJ3yXgth2ufKam9wsynWM2D2L

[2020-05-08 15:28] jackkrooss opened #131 "We’ve received your request - View should give name of user. Something should be added about expect an email shortly…."

[2020-05-08 15:29] jackkrooss opened #132 "General - Email should be sent to customer whenever status changes receive request, approved, scheduled for shipment, in route"

[2020-05-08 15:29] jackkrooss opened #133 "Workspace Navigation - Change CSR Location. Generally make it prettier (See comments)"

[2020-05-08 15:30] jackkrooss opened #134 "General - Should we change CSR-REVIEW status to PENDING"

[2020-05-08 15:30] jackkrooss opened #135 "Receive Inventory - Dropdown shows all variants of all products, including deleted products. We should consider getting rid of variants."

[2020-05-08 15:30] jackkrooss opened #136 "Receive Inventory - Must enter variant even though I have no idea what a variant is. Remove variant from screen."

[2020-05-08 15:31] jackkrooss opened #137 "Receive Inventory - Do we have a list of suppliers, or must I enter them each time"

[2020-05-08 15:32] jackkrooss opened #138 "General - Why is Muddy One a Donor? Just because inventory was transferred"
This is a big deal. We can not have transfers between inventory locations counted as donations

[2020-05-08 15:32] jackkrooss opened #139 "First-time User - Menu button allows access to change apps (Users shouldn’t have access to this)"

[2020-05-08 15:33] jackkrooss opened #140 "Receive Inventory - Added fields don’t show up in the dropdown immediately"
Simon Bass

[2020-05-08 15:33] jackkrooss opened #141 "Receive Inventory - Fields reset every time you receive , Simon submitted"

[2020-05-08 15:34] jackkrooss opened #142 "Workspace Navigation - Gray view-switching buttons could be confused with gray navigation buttons, Simon Submitted"

[2020-05-08 15:34] jackkrooss opened #143 "Create/Edit Product - Increase size of text box Product Description on marketplace and Product warning on marketplace. Change names to Product Description and Product Warning"

[2020-05-08 15:35] jackkrooss opened #144 "Add Image - Increase size of preview window. Remove Menu button."

[2020-05-08 15:35] jackkrooss opened #145 "Receive Inventory - Remove Add new button"

[2020-05-08 15:35] jackkrooss opened #146 "Receive Inventory - Remove Variant"

[2020-05-08 15:36] jackkrooss opened #147 "Receive Inventory - Change Supplier to Donor and rework so only donated materials count toward donations"

[2020-05-08 15:36] jackkrooss opened #148 "Receive Inventory - Remove RECEIVE INV and RECEIVE ORDER buttons from bottom"

[2020-05-08 15:36] jackkrooss opened #149 "Welcome to the PPE Logistics Request Form! - Update. Get rid of No button. Improve appearance"

[2020-05-08 15:37] jackkrooss opened #150 "Workspace Navigation - Should have supplier name on screen"

[2020-05-08 15:37] jackkrooss opened #151 "Selection Detail - More space needed for Description and Warning. Better layout is desirable. Scrollable?"

[2020-05-08 15:37] jackkrooss opened #152 "Selection Detail - Change Order QTY to Request Quantity"

[2020-05-08 15:38] jackkrooss opened #153 "Selection Detail - More Info button does not work, remove it"
More info does work, we just don't give them an option on product creator to add a second "more info" image.

[2020-05-08 15:38] jackkrooss opened #154 "Selection Detail - Remove Cart button."

[2020-05-08 15:39] jackkrooss opened #155 "Orders to Ship - Margin at left of site name is very small"

[2020-05-10 07:47] jackkrooss commented on #130
This is a scrollable window. But that is not a very good way to display the information. Is there a better way to present this?

[2020-05-10 07:49] #129 closed, assigned to nobody

[2020-05-10 07:49] #128 closed, assigned to nobody

[2020-05-15 00:03] contextref opened #156 "Fix MasksOn Dashboard so that production report was sorted in reverse chrono order"

[2020-05-15 00:04] #156 closed, assigned to contextref

[2020-05-15 00:04] ilya-bass commented on #156
see this thread for context https://maskson.slack.com/archives/C011225T9FG/p1589472030342400

[2020-05-15 00:06] contextref opened #157 "Create dashboard for "Last Mile San Diego""

[2020-05-15 00:07] contextref opened #158 "Create instructions for cloning generic dashboard for a new org"

[2020-05-15 05:48] jackkrooss opened #159 "Create Edit Products - Marketplace is a “null” unless the toggle has been selected at least once."
Image https://drive.google.com/open?id=1hBiz1072SBbNbJDoZocUf5jMo10EsfKN

[2020-05-15 05:49] jackkrooss opened #160 "Create Edit Products - Select an option needs bigger drop down"

[2020-05-15 05:50] jackkrooss opened #161 "Create Edit Products - BOM can add same product twice"
BOM once I added a child one time I was still able to add it a second time. Then I had two of them then I deleted and it deleted both. You should not be able to add a second one.

[2020-05-15 05:52] jackkrooss opened #162 "Create Edit Products - Change to support decimal product values (USD)"

[2020-05-15 05:53] jackkrooss opened #163 "Create Edit Products - Change to support decimal QTY in BOM"

[2020-05-15 05:53] jackkrooss opened #164 "Create Edit Products - Variant should be NONE if none selected"

[2020-05-15 05:55] jackkrooss opened #165 "Produce Units - Should we get rid of Box number. Is it ever used for anything?"

[2020-05-15 05:55] jackkrooss opened #166 "Produce Units - Need to clear screen after producing or you can easily enter twice"

[2020-05-15 05:55] jackkrooss opened #167 "Adjust Inventory - Does not check if you have a supply site selected. If you do not select a supply site not sure what it does"

[2020-05-15 05:56] jackkrooss opened #168 "Receive Inventory - When you receive a final assembly (as opposed to Produce Units) it also decrements inventory numbers for the Child components. It should only do this if you Produce Units"

[2020-05-15 05:57] jackkrooss opened #169 "Produce Units - Font size for QTY to produce is too small."

[2020-05-15 05:57] jackkrooss opened #170 "Produce Units - Change green button to ‘Produce Units’"

[2020-05-15 05:58] jackkrooss opened #171 "General - Provide way to put the workspace in test mode. Provide way to wipe the activity. Provide way to delete products individually and wipe them all."

[2020-05-15 05:58] jackkrooss opened #172 "Create Order Customer - Improve layout of order section"

[2020-05-15 05:59] jackkrooss opened #173 "General - Product item Grouping (see comment)"
The ability to group items by item type and generate dashboard reports grouping like items. I think this can be done using the "serial code" field and all we would need to do is use this for a dashboard categorization. Specific items here would be to change the name of the serial code field to something like “Type” or “Group”, but serial code may be used for something else, so this needs to be dis

[2020-05-15 06:00] jackkrooss opened #174 "General - Loading history and other data (see comment)"
Load previous activity into the system. I think that this is something that we will need to be able to accomdate. Other similar systems have the ability to do a .csv upload. I don't think that is needed at the user level, but some way for us (meaning one of you guys) at least to take a formated sheet of data and get it into the database is something we will need to look into.

[2020-05-15 14:24] jackkrooss commented on #173
Requested by MMCH

[2020-05-15 14:25] jackkrooss commented on #174
Requested by MMCH

[2020-05-15 15:24] contextref opened #175 "Create Dashboard for "GoodWood Face Shields""

[2020-05-15 16:09] jackkrooss opened #176 "Create PPEL Overview dashboard"

[2020-05-15 16:10] jackkrooss opened #177 "Extract customer names and passwords to a secure listing"

[2020-05-15 18:50] jackkrooss opened #178 "Dashboard for Ovadia"

[2020-05-15 22:46] #158 closed, assigned to contextref

[2020-05-15 22:46] ilya-bass commented on #158
Instructions here https://docs.google.com/document/d/1LxQvK15wYpv8JjAVcSZfHPRJMApN-vmJCuUUzKtKtsE/edit?usp=sharing

[2020-05-15 23:07] ilya-bass commented on #175
this is all set /supplier/goodwood/dashboard/01

[2020-05-15 23:12] contextref commented on #175
this is all set /supplier/ovadia/dashboard/01

[2020-05-15 23:13] ilya-bass commented on #178
this is all set /supplier/ovadia/dashboard/01

[2020-05-15 23:13] #178 closed, assigned to contextref

[2020-05-15 23:19] ilya-bass commented on #157
this is all set as /supplier/lastmilesd/dashboard/01

[2020-05-15 23:19] #157 closed, assigned to contextref

[2020-05-15 23:23] ilya-bass commented on #177
@jackkrooss for this, do you need just "Production Manager" role at Suppliers?  Or all Suppliers?  Or all customers in PPEL universe?

[2020-05-16 00:22] ianslai commented on #155
Implemented in latest snapshots, requires approval from Mark

[2020-05-16 00:24] ianslai commented on #114
Supplier Manager / Navigation - Supplier Manager / App menu
(is not currently editable, requires permissions from Mark)

[2020-05-16 00:29] ianslai commented on #123
Apps to Share / PPE Logistics / Splash Page

[2020-05-16 00:31] ianslai commented on #152
Apps to Share / Customer Order / Account / Product Detail

[2020-05-16 00:34] ianslai commented on #150
Supplier Manager / Navigation - Supplier Manager / App menu
Supplier Manager / Navigation - Courier Manager / App menu

Possibly also:
Supplier Manager / Navigation - CSR / App menu
Supplier Manager / Navigation - SupplierSite / App menu
Supplier Manager / Navigation - Tulip / App menu

[2020-05-16 00:35] ianslai commented on #151
Apps to Share / Customer Order / Account / Product Detail

[2020-05-16 00:36] ianslai commented on #160
Supplier Manager / Product Creator / Product Creator

[2020-05-16 00:39] ianslai commented on #122
Apps to Share / Customer Order / Account / Product Catalogue

[2020-05-16 00:40] ianslai commented on #169
Apps to Share / Production Worker / Produce Units - single
Apps to Share / Production Worker / Produce Units - barcode

[2020-05-16 00:41] ianslai commented on #115
Apps to share / PPE Logistics / Sign into account
Possibly also:
Apps to share / PPE Logistics / Create new account

[2020-05-16 00:43] ianslai commented on #118
Apps to Share / Production Worker / Main Screen

[2020-05-16 00:44] ianslai commented on #170
Apps to Share / Production Worker / Produce Units - single

[2020-05-16 00:44] ianslai commented on #143
Supplier Manager / Product Creator / Product Creator

[2020-05-16 00:48] ianslai commented on #116
Apps to Share / Customer Order / Login Workflows / New Visitor Form
Possibly also:
Apps to Share / Customer Order / Login Workflows / Add user to account

[2020-05-17 03:27] ilya-bass commented on #155
looks good in dev!

[2020-05-17 03:37] ilya-bass commented on #123
@jackkrooss should we rename the "I already have an account" button to "Login" and make it the first choice?

[2020-05-17 04:09] nimsarr opened #179 "Customer Order - Modified delivery address reverts after adding more items"

[2020-05-17 04:12] jackkrooss commented on #123
Yes

On Sat, May 16, 2020, 8:37 PM contextref <notifications@github.com> wrote:

[2020-05-18 22:31] jackkrooss opened #180 "Remove hidden Create Site button off to the right from Apps/Supply Manager/Navigation - Supply Manager"

[2020-05-18 22:44] jackkrooss opened #181 "Apps / Apps to share / Customer Order eliminate More Info button and other off screen elements"

[2020-05-18 22:54] nimsarr commented on #169
I assume this only applies to "Produce Units - barcode", since in "single" it's not smaller than the rest of the text.

[2020-05-18 22:58] ianslai commented on #151
We made some modifications to the Product Detail screen to maximize real estate for lengthy descriptions.  We couldn't tell what the "More Info" button did so we discarded it; the elements that we decided to discard have been moved off screen rather than outright deleted, in case they're useful.

[2020-05-18 23:14] nimsarr commented on #169
![New barcode screen](https://user-images.githubusercontent.com/15707419/82267920-b2cb2780-993b-11ea-9028-ce80548b4825.png)

Only the QTY title was changed.

[2020-05-18 23:16] jackkrooss commented on #159
Toggle should be initialized with marketplace off

[2020-05-18 23:19] nimsarr commented on #170
![image](https://user-images.githubusercontent.com/15707419/82268236-82d05400-993c-11ea-83e5-568f87776aef.png)

[2020-05-18 23:45] ilya-bass commented on #135
@jackkrooss which dropdown?  The main one seems to work correctly.  The "Variants" dropdown does indeed show some variants of deleted items, but moreover, it shows all variants of all items, which is also wrong?... Thoughts?

[2020-05-18 23:47] ilya-bass commented on #115
These must be unique in the PPEL universe, so it can't be arbitrary numbers, otherwise there will be collisions.

[2020-05-18 23:49] nimsarr commented on #160
![image](https://user-images.githubusercontent.com/15707419/82269729-849c1680-9940-11ea-9d23-cad685b87d9b.png)

Modified the layout of Product Creator around the BOM bottom-left section to hopefully make it more intuitive.

[2020-05-18 23:50] jackkrooss commented on #160
Great!!!

On Mon, May 18, 2020 at 4:49 PM Simon Bass <notifications@github.com> wrote:

[2020-05-18 23:51] jackkrooss commented on #115
yes, it should say number taken or something

On Mon, May 18, 2020 at 4:47 PM contextref <notifications@github.com> wrote:

[2020-05-18 23:55] ilya-bass commented on #115
My point is that if we don't suggest it's a phone number, then collisions are more likely.  Sounds like you still want to call this a 10-digit number and not a phone number?

[2020-05-19 00:21] nimsarr commented on #119
Duplicate of https://github.com/tulip/ppe-logistics/issues/162

[2020-05-19 00:21] #119 closed, assigned to nobody

[2020-05-19 00:24] jackkrooss commented on #170
Nice

On Mon, May 18, 2020 at 4:20 PM Simon Bass <notifications@github.com> wrote:

[2020-05-19 00:25] nimsarr opened #182 "Create Edit Products - "Finished good" could be confusing. Change to "List Product""
"Finished good" could be a confusing name for the boolean, especially since it's referred to as "Marketplace" in the Current Products table directly to the right, and in the database itself.

[2020-05-19 00:27] jackkrooss commented on #135
I think we should get rid of variant altogether

On Mon, May 18, 2020 at 4:45 PM contextref <notifications@github.com> wrote:

[2020-05-19 00:30] jackkrooss commented on #115
I guess it is OK to call it a phone number. It is just confusing because it
has nothing to do with being contacted. People are familiar with using
email for IDs in this manner, but not so much phone numbers. Why does this
have to be a number? Could it be an alphanumeric ID?

On Mon, May 18, 2020 at 4:56 PM contextref <notifications@github.com> wrote:

[2020-05-19 00:30] jackkrooss commented on #119
yup, thanks

On Mon, May 18, 2020 at 5:21 PM Simon Bass <notifications@github.com> wrote:

[2020-05-19 00:31] jackkrooss commented on #119
NO ACTUALLY, different.

On Mon, May 18, 2020 at 5:30 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-05-19 00:34] jackkrooss commented on #119
Decimal $$ is self explanatory, but decimal product means that you can have
a fraction of a product used for a child product. Example is that you have
a spool of elastic that you use for headbands. The spool is 200 feet long.
You use 2 feet of elastic per headband. So you use .01 elastic spools per
headband.

On Mon, May 18, 2020 at 5:31 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-05-19 00:37] ianslai commented on #140
To clarify: Does this mean that when you type something into "Create new variant" or "Add new supplier", it should be added immediately to the dropdowns to the left?  (If so I would be hesitant because that means you can easily create spurious Variants/Suppliers by entering text into those boxes without tapping some kind of confirmation button.)

[2020-05-19 00:37] jackkrooss commented on #162
Decimal $$ #119  is self explanatory, but this one decimal product means that you can have a fraction of a product used for a child product. Example is that you have a spool of elastic that you use for headbands. The spool is 200 feet long. You use 2 feet of elastic per headband. So you use .01 elastic spools per headband.

[2020-05-19 00:40] jackkrooss commented on #162
Created new issue since this should not hgave been closed

[2020-05-19 00:42] jackkrooss commented on #162
Never mind... I see this is handled by #163. Simon is correct this was a duplicate

[2020-05-19 00:44] jackkrooss commented on #119
Never mind, Simon was correct this is a duplicated. Fractional BOM stuff is
addressed in #163

On Mon, May 18, 2020 at 5:34 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-05-19 00:45] jackkrooss commented on #163
Decimal $$ is self explanatory, but decimal product means that you can have a fraction of a product used for a child product. Example is that you have a spool of elastic that you use for headbands. The spool is 200 feet long. You use 2 feet of elastic per headband. So you use .01 elastic spools per headband.

[2020-05-19 00:56] jackkrooss commented on #133
Move CSR to the left side next to "Requests" . Change Misc Requests to "Transports" and put next to CSR. Reorder and rename 'Configuration' row "Products", "Supply Sites", "Couriers", "Passwords"

We also need to make the Supply Sites editable and delete-able. Creating new ticket for this.

[2020-05-19 00:58] jackkrooss commented on #133
Already have ticket for editing/deleting supply site #117

[2020-05-19 01:04] jackkrooss commented on #182
Agree that Finished good is confusing. Should be changed to "List Product".

[2020-05-19 01:05] ianslai commented on #167
Added check for empty item, site, or quantity, and show error message instead of proceeding when Adjust inventory is clicked.

[2020-05-19 01:08] jackkrooss commented on #136
We are going to use the variant field for grouping products. See item #173

[2020-05-19 01:19] jackkrooss commented on #130
![BUG20200504a](https://user-images.githubusercontent.com/64096573/82274093-12253980-9934-11ea-97f5-d0e9be480cfa.PNG)

[2020-05-19 01:27] jackkrooss commented on #172
There is no reason for the cart to be so small. The cart can be on the bottom and the selections  and buttons moved to be in more logical locations. In general this entire page should be reworked. You need to select both the Institution and the Client, but the "View" button is grey and the Select button is blue.

[2020-05-19 01:27] ilya-bass commented on #115
So the other issue is all existing customers -- we have to be careful not to confuse them.  I think for at least some initial transition time we have to note that the ID is what used to be called a phone number.

[2020-05-19 01:35] jackkrooss commented on #172
Issue #142 is related

[2020-05-19 01:39] ianslai commented on #163
I think I made a fix, but I ran into another issue that might be a Tulip bug.

If you select Save Product, and the select the product you just edited, the USD value of that product fails to update--you can select other products in the list and they display fine, but if you select the edited product, the USD field still shows the value from the last product you selected.

I don't think this is rela

[2020-05-19 01:40] jackkrooss commented on #125
![BUG20200502f](https://user-images.githubusercontent.com/64096573/82275238-0d15b980-9937-11ea-9c46-0a07605053f6.JPG)

[2020-05-19 01:43] jackkrooss commented on #148
This is just confusing. I don't see any problem with having to bounce back out to the WN (Workspace Navigation) screen.

[2020-05-19 01:45] jackkrooss commented on #153
Move it off screen

[2020-05-19 01:45] ianslai commented on #163
A couple other notes:

- In order to make this fix, I couldn't change the existing USD Number Input box; I used the workaround of creating a new variable, creating a brand new Number Input box that referenced that variable, then setting the Format and Precision per the [instructions in KB article 3591243](https://support.tulip.co/en/articles/3591243-adding-input-widgets-to-normal-steps), and then

[2020-05-19 01:47] jackkrooss commented on #165
Move it off screen

[2020-05-19 01:49] jackkrooss commented on #154
Move it off screen

[2020-05-19 01:56] ianslai commented on #163
Whoops, I mistakenly addressed the problem in 162 instead of 163 in this ticket.  I've assigned both to myself so I can apply the same workaround.  Thanks to Simon for noticing.

[2020-05-19 02:00] ianslai commented on #162
I think I made a fix, but I ran into another issue that might be a Tulip bug.

If you select Save Product, and the select the product you just edited, the USD value of that product fails to update--you can select other products in the list and they display fine, but if you select the edited product, the USD field still shows the value from the last product you selected.

I don't think this is rela

[2020-05-19 02:00] jackkrooss commented on #140
No, it means that after you submit the form (Receive Inventory) that the
dropdown is not updated until you bounce out of the form to WN (workspace
navigation) and back in

On Mon, May 18, 2020 at 5:37 PM ianslai <notifications@github.com> wrote:

[2020-05-19 02:01] jackkrooss commented on #115
Agreed

On Mon, May 18, 2020 at 6:28 PM contextref <notifications@github.com> wrote:

[2020-05-19 02:03] ianslai commented on #163
I think this may actually require more than just a UI fix.  In the Produce Units screen, you can create products that automatically decrement inventory from the child products, but right now inventory values are all integers in the database.  So I don't think this can be done without changing the way the data is represented in the database right now.

[2020-05-19 02:05] jackkrooss commented on #163
Understood. We will need to think about this some more. Let's send it back
to backlog

On Mon, May 18, 2020, 7:03 PM ianslai <notifications@github.com> wrote:

[2020-05-19 02:06] nimsarr commented on #163
Backlog, or Needs Discussion?

[2020-05-19 02:07] jackkrooss commented on #163
I guess needs discussion.

On Mon, May 18, 2020, 7:06 PM Simon Bass <notifications@github.com> wrote:

[2020-05-19 04:12] ryuncom commented on #150
@ianslai I think in Supplier Manager / Navigation - Tulip --> there is already "Choose a supplier" section in the upper portion of the screen. I think that should suffice for putting the supplier name in the screen. How do you think?

[2020-05-19 04:26] jackkrooss commented on #150
@ryuncom what is meant here is that the name of the workspace is not listed at the top. For instance,

PPE2PHL
Workspace Navigation

The Choose Supply Site, refers to the the supply sites, not the workspace. A (Supplier) workspace has multiple supply sites. Those are listed in the drop down, but nowhere is the workspace supplier listed.

[2020-05-19 21:28] ryuncom commented on #150
@jackkrooss
Do you mean at "Supplier Manager / Navigation - Supplier Manager / App menu"?
If you mean we need to put the supplier name there, then it's already taken care of.
What I am asking is the case of "Supplier Manager / Navigation - Tulip / App Menu".
In here, we can choose both supplier and supplier site, so maybe, we do not need to put the name of the supplier.

Also, how about the case o

[2020-05-19 23:24] ianslai commented on #162
I just verified that

- You can change both the Fulfillment Lead Time and USD value boxes, and both of them will exhibit the same bug at the same time (fail to update for the row just edited)

- It doesn't matter which row it is, you can make the bug happen if you edit numbers for any row

- **The same bug happens also in the Inventory Manager** when you adjust QTY--if you are clicking through ite

[2020-05-19 23:29] ianslai commented on #150
@ryuncom Looking at this again, I don't know how one gets to "Supplier Manager / Navigation - Tulip / App Menu", but it looks like maybe it's a debugging screen for in-house use?  Since customers aren't supposed to be able to choose which supplier they represent.  That said, since there's already a drop-down in that screen, I agree it wouldn't make sense to add there.

[2020-05-19 23:33] jackkrooss commented on #150
Correct it should not be possible to get to it. There is, or was, another
BUG ticket that identified a way to get there during the signup process if
you chose a Menu button, but that might have been fixed.

On Tue, May 19, 2020, 4:30 PM ianslai <notifications@github.com> wrote:

[2020-05-19 23:50] ianslai commented on #140
Thanks for the clarification @jackkrooss .  I've put in a fix that refreshes both Suppliers and Variants on the Receive Inventory screen (Apps to Share / Production Worker / Receive Inventory).

[2020-05-20 00:16] ianslai commented on #120
@jackkrooss after digging into the code a bit, I think what's going on is that it's not showing the Contact's name, it's showing your own username.  So it wouldn't actually vary across sites.

In the example below, I've put in different contacts for each of the test supply sites (Grape Garden, Vegetable Valley) in my test org, but neither of them are 'Ian "Supplier Manager" Lai', which is the name

[2020-05-20 00:19] jackkrooss commented on #120
That makes sense.

On Tue, May 19, 2020, 5:16 PM ianslai <notifications@github.com> wrote:

[2020-05-20 00:21] jackkrooss commented on #120
Sorry for the confusion.

On Tue, May 19, 2020, 5:19 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-05-20 00:24] ianslai commented on #125
I wonder if this is related to #167 ?  I tried to reproduce this issue without success; I'm getting an error saying "you must select an item to add first" which is preventing me from adding a row with no part number.  In #167 I fixed the issue where you can select "Adjust Inventory" in the Inventory Manager without specifying a site or item.

[2020-05-20 00:24] jackkrooss commented on #120
It does seem strange that this is the one place that the user name is
displayed. I think we should try to make the displays more consistent
across the app. I will look into this further. Thank you for sussing it out.

On Tue, May 19, 2020, 5:20 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-05-20 00:27] ianslai commented on #148
It looks like right now the only way you can get to Receive Order is via the Receive Inventory screen; there is no other way to get there, so unless we add another button to the Operator Functions screen for Receive Order, that screen will be orphaned.  Should we do that, or would that be a confusing UI change?

[2020-05-20 00:29] jackkrooss commented on #125
Likely the other fix fixed it, but it is always dicey to declare something
closed when you can't replicate it. Is it possible to back out your fix of
#167 and see if you can generate the error?

On Tue, May 19, 2020, 5:24 PM ianslai <notifications@github.com> wrote:

[2020-05-20 00:29] ianslai commented on #120
No worries.  How do you want to handle this ticket @jackkrooss ?  I'm not sure if we should close it, or if you want to assign the ticket to yourself to investigate a more consistent display?

[2020-05-20 00:32] jackkrooss commented on #120
Close it.

On Tue, May 19, 2020, 5:30 PM ianslai <notifications@github.com> wrote:

[2020-05-20 00:39] jackkrooss commented on #148
I see what you are saying. Not even sure what a Receive Order is. I'd say
create let's flatten it by putting a Receive Order button on the Operator
Functions screen (so three buttons now), and let's send this ticket back to
Needs Discussion with a Question tag.

On Tue, May 19, 2020, 5:27 PM ianslai <notifications@github.com> wrote:

[2020-05-20 00:43] jackkrooss commented on #148
Maybe receive order refers to moving inventory between sites, but still
there are questions... like how does the operator know to receive an order?

On Tue, May 19, 2020, 5:39 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-05-20 00:44] jackkrooss commented on #148
...unless they are constantly checking.

On Tue, May 19, 2020, 5:43 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-05-20 01:31] #120 closed, assigned to ianslai

[2020-05-20 01:36] ianslai commented on #125
I briefly tried disabling my fix from #167 but wasn't able to reproduce the problem.

[2020-05-20 02:35] jackkrooss commented on #125
I will try to reproduce problem tomorrow and be very explicit if I can
break it.

On Tue, May 19, 2020, 6:36 PM ianslai <notifications@github.com> wrote:

[2020-05-20 21:49] ianslai opened #183 "MiamiMedCOVIDHelp Dashboard showing workcenter IDs instead of names"
Per Megan Matthew:

![image (1)](https://user-images.githubusercontent.com/7863470/82500848-3b73d000-9ac2-11ea-9bdc-589bdc80f16e.png)

This is in the Executive Summary: https://www.ppelogistics.org/supplier/mmch/dashboard/01

[2020-05-20 21:59] ianslai commented on #183
This is indeed due to the workcenter ID/name refactor.

To fix this, edit the [GS dashboard - PROD](https://datastudio.google.com/u/0/datasources/cc03478c-0e7e-4bea-9f34-20a734f79e99) data source and change the SQL to return the `wcname`.

Specifically, change line 2 from
[code]
to
[code]

[2020-05-20 22:47] jackkrooss commented on #131
Email requires a connector... text is easy

[2020-05-20 22:58] jackkrooss commented on #147
Variant >>>>>>>>>> Donation

[2020-05-20 23:46] jackkrooss commented on #174
Here is a link to MMCH's history: https://docs.google.com/spreadsheets/d/1xnQCF8iomEoy-iBmzJG-3QkmZFWl3XuPw1J1nUUD-Bs/edit#gid=278517706

[2020-05-21 01:22] ilya-bass commented on #183
Fixed. I checked other pages of the report, they seem fine.  There are a couple of data sources that still return the old column but they are not used in the active parts of the report.

[2020-05-21 01:23] #183 closed, assigned to contextref

[2020-05-22 01:08] nimsarr opened #184 "Forgot password button doesn't do anything: remove for now"

[2020-05-22 01:10] nimsarr commented on #184
![image](https://user-images.githubusercontent.com/15707419/82620806-6d129700-9ba7-11ea-8722-f5eac78db242.png)

[2020-05-22 02:56] nimsarr commented on #122
![image](https://user-images.githubusercontent.com/15707419/82626582-355f1b80-9bb6-11ea-83e7-204eecbf9637.png)

Also figured I would add it to the Active Cart step:
![image](https://user-images.githubusercontent.com/15707419/82626560-1d879780-9bb6-11ea-9988-cb04eba3fb09.png)

[2020-05-22 08:24] nimsarr commented on #159
Marketplace now initialized to be false on step open.

[2020-05-23 01:06] jackkrooss commented on #173
![createproduct4](https://user-images.githubusercontent.com/64096573/82718354-e3ba9d80-9c56-11ea-98d8-9f01765aaee0.JPG)

[2020-05-23 01:13] jackkrooss commented on #173
Oh and let's add the grouping on the right.

SKU is is the current "itemid"
Short Name is the current "serial string"
Box ID is the current "leadingchar"
Adding a new field for Group, how about "group"?

Need to go through and mod the database to break up the current itemid string into the new itemid (SKU) and the new short name (serial string).

Need to add group names to the items. (Maybe custom

[2020-05-23 02:05] jackkrooss commented on #173
HOLD ON .... I am remembering why it is not so simple to just break up the SKU and the Short Name. There are lots of drop down selectors all over the place where you select a product. If just the SKU is the itemid then only the SKU will be listed and unless people know the SKU they will not know what the product is. This is the original reason that I encouraged people to adopt the naming conventio

[2020-05-23 02:10] jackkrooss commented on #173
Just noticed that there is another free field in the items that is not used imageurl_extra. if we wanted to  just grab this instead of making a new group field.

[2020-05-23 02:26] jackkrooss commented on #147
So it seems that whenever inventory is received that it counts toward donations in the dashboard. This raises the question of how donations are calculated. It looks like traceability is involved because that is the only place where suppliers are collected. Is "lot" used for "variant". If so, can we just use "variant" aka "lot" to store whether it is a donation or not?

Then need to modify the form

[2020-05-23 02:36] jackkrooss commented on #115
We can go ahead and do this.

Change label on "Let's set up your account to "User ID (email, phone number or other unique ID)"

Change label on screen when you already have an account to"User ID (email, phone number or other unique ID)" and get rid of text above "Please type in..."

Need to look at parsing code to not restrict to just phone numbers.

[2020-05-23 02:37] jackkrooss commented on #126
Mark said that there was something else that printed out a courier label, so this should be a similar thing. I still need to rework the shipper screen.

[2020-05-23 06:39] jackkrooss opened #185 "Normalize the look of the UI across all major screens"
Follow the illustrations to reformat the UI of all the screens to provide a more consistent look and feel.

https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit?usp=sharing

[2020-05-23 15:12] ilya-bass commented on #149
@jackkrooss thoughts on improving the appearance?  Might need a collaboration session to discuss UI tweaks?

[2020-05-23 15:14] ilya-bass commented on #131
@jackkrooss so you are saying there is no email being sent today, and that needs to start to happen as part of this ticket?

[2020-05-23 16:48] jackkrooss commented on #148
Decision is to remove the buttons and add another button to the Operator Functions screen "Receive Orders" that calls the receive order screen. Also to add a big "Back" button in their place that bounces you back to the Operator functions screen. Need to also remove the buttons from the bottom of the receive orders screen and add back button

[2020-05-23 17:15] jackkrooss commented on #131
Yes, demoted this ticket because I thought the scope was perhaps too much.

On Sat, May 23, 2020, 8:15 AM contextref <notifications@github.com> wrote:

[2020-05-23 17:18] jackkrooss commented on #149
Yes. Agreed. I spent some time demoting things that fall into this
category. Goal is to nail low hanging fruit things up and consider the
scope of effort of a more general UI overhaul.

On Sat, May 23, 2020, 8:12 AM contextref <notifications@github.com> wrote:

[2020-05-23 20:21] ianslai commented on #166
This tickets affects both of these steps:

Supplier Manager / Product Creator / Add Image
Apps to Share / Production Worker / Add Image

[2020-05-23 20:25] ianslai commented on #166
This is apparently not currently possible in Tulip.

The image upload is done via a built-in Photo Input widget.  The only way you can change sizing within that widget is by altering the font size of the prompt text, and that doesn't seem to affect the actual size of the preview:

![photo input](https://user-images.githubusercontent.com/7863470/82739912-d3b3c400-9d11-11ea-93e6-32ab1f3035da.png)

!

[2020-05-23 20:26] ianslai commented on #144
This tickets affects both of these steps:

Supplier Manager / Product Creator / Add Image
Apps to Share / Production Worker / Add Image

[2020-05-23 20:26] ianslai commented on #144
This is apparently not currently possible in Tulip.

The image upload is done via a built-in Photo Input widget.  The only way you can change sizing within that widget is by altering the font size of the prompt text, and that doesn't seem to affect the actual size of the preview:

![photo input](https://user-images.githubusercontent.com/7863470/82739912-d3b3c400-9d11-11ea-93e6-32ab1f3035da.png)

!

[2020-05-23 20:26] ianslai commented on #166
(Deleted prior comments that were on the wrong ticket)

[2020-05-23 20:47] ianslai commented on #166
I also added a description of what the user just produced under the serial number, because clearing the information means they would no longer be able to double check what they were just working on.

![166](https://user-images.githubusercontent.com/7863470/82740246-fe534c00-9d14-11ea-8d93-f76090ac8c78.png)

[2020-05-25 18:20] ianslai commented on #141
Does this ticket mean the fields _shouldn't_ be reset each time Receive Inventory is selected?  Right now the behavior is that they are cleared upon clicking Receive Inventory, which is consistent with the behavior requested in #166 (to avoid performing the action twice by accident).

If we think it should remain cleared, maybe it would make sense to add information about what was just received (p

[2020-05-25 18:54] ianslai commented on #179
I don't know if this is a bug in Tulip, but it seems to be clearing the "current del address" variable when "Add to cart" is clicked in the Product Detail screen, even though it's not referenced there.

A workaround seems to be to change that variable so that "Clear on completion" is unchecked.

[2020-05-25 19:04] jackkrooss commented on #141
That sounds great. Good idea!

On Mon, May 25, 2020, 11:20 AM ianslai <notifications@github.com> wrote:

[2020-05-25 19:46] ianslai commented on #141
Text set to "Received: Product x QTY from Supplier"

![new receive inventory](https://user-images.githubusercontent.com/7863470/82839866-caa42d80-9e9e-11ea-9b64-8cfc216c3c26.png)

[2020-05-25 20:59] jackkrooss commented on #141
👍 Great!

On Mon, May 25, 2020, 12:46 PM ianslai <notifications@github.com> wrote:

[2020-05-25 21:01] jackkrooss commented on #141
What do you think about moving the button up under the QTY entry?

On Mon, May 25, 2020, 1:58 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-05-26 17:36] ilya-bass commented on #180
done

[2020-05-26 17:50] ilya-bass commented on #135
I changed the description, and so now it still requires discussion since it's not a simple change to "get rid of variant altogether"

[2020-05-26 17:52] ilya-bass commented on #161
I am not convinced it needs fixing anytime soon. It's an edge case and is relatively easy to recover from.

[2020-05-26 17:57] ilya-bass commented on #139
I see elaborate logic that checks user role. See the screenshot.  So this is by design, I am not sure that we can take this away easily, especially for sorts of users that need to switch from time to time.  @markfreedmantulip thoughts?

![image](https://user-images.githubusercontent.com/1338598/82933978-c9cfd200-9f58-11ea-9a1a-5efb67567300.png)

[2020-05-27 02:17] nimsarr commented on #182
![image](https://user-images.githubusercontent.com/15707419/82970589-9b74e580-9f9e-11ea-81e6-6fd10be25ab3.png)

Changed to "List Product" and added note: "Allow customers to order from the marketplace"

[2020-05-27 02:20] nimsarr commented on #143
![image](https://user-images.githubusercontent.com/15707419/82970589-9b74e580-9f9e-11ea-81e6-6fd10be25ab3.png)

Shrunk the BOM area a bit to create more space for the text boxes.

[2020-05-27 15:34] jackkrooss opened #186 "Customers - After adding a customer but not entering an order, the customer does not show up in the customer manager."

[2020-05-27 15:36] jackkrooss commented on #186
Go to Create/Edit select an institution and create a new customer for the institution. Then go to Customers. New customer does not show up in list. Find it by selecting the institution and using the drop down. Note new customer is in REVIEW. Approve new customer. Still does not show up in list.

[2020-05-28 22:22] jackkrooss opened #187 "UIN - Demand Manger"
![image](https://user-images.githubusercontent.com/64096573/83199916-03d6da80-a0f7-11ea-9a48-749aaab95374.png)

[2020-05-28 22:25] jackkrooss commented on #187
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.g8746cac656_0_71

[2020-05-28 22:26] jackkrooss opened #188 "UIN - Shipment Manager"
![image](https://user-images.githubusercontent.com/64096573/83200173-9aa39700-a0f7-11ea-8552-27b4814134bc.png)

[2020-05-28 22:26] jackkrooss commented on #188
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.g8746cac656_0_29

[2020-05-28 22:28] jackkrooss opened #189 "UIN - Courier Manger"
![image](https://user-images.githubusercontent.com/64096573/83200266-ccb4f900-a0f7-11ea-8ddd-0c6c2e6ea09f.png)

[2020-05-28 22:28] jackkrooss commented on #189
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.p

[2020-05-28 22:29] jackkrooss opened #190 "UIN - Inventory Manager"
![image](https://user-images.githubusercontent.com/64096573/83200356-fc640100-a0f7-11ea-89ce-89ed2e3f7cf8.png)

[2020-05-28 22:29] jackkrooss commented on #190
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.g85e4a32334_0_8

[2020-05-28 22:30] jackkrooss opened #191 "UIN - Product Manger"
![image](https://user-images.githubusercontent.com/64096573/83200452-303f2680-a0f8-11ea-8a7f-50f576149787.png)

[2020-05-28 22:31] jackkrooss commented on #191
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.g8746cac656_2_0

[2020-05-28 22:32] jackkrooss opened #192 "UIN - Order Manager"
![image](https://user-images.githubusercontent.com/64096573/83200521-5e246b00-a0f8-11ea-8963-9a6d61be49c4.png)

[2020-05-28 22:32] jackkrooss commented on #192
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.g85e4a32334_0_73

[2020-05-28 22:33] jackkrooss opened #193 "UIN - Customer Manager"
![image](https://user-images.githubusercontent.com/64096573/83200602-88762880-a0f8-11ea-8811-99a8bb07752f.png)

[2020-05-28 22:33] jackkrooss commented on #193
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.g85e4a32334_0_134

[2020-05-28 22:34] jackkrooss opened #194 "UIN - Create/Edit Customers and Create Orders"
![image](https://user-images.githubusercontent.com/64096573/83200697-bf4c3e80-a0f8-11ea-8aa0-417eeefd2a56.png)

[2020-05-28 22:35] jackkrooss commented on #194
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.g879235c161_0_5

[2020-05-28 22:36] jackkrooss opened #195 "UIN - Miscellaneous Transports Manager"
![image](https://user-images.githubusercontent.com/64096573/83200791-f6225480-a0f8-11ea-952b-fdb64457f9c1.png)

[2020-05-28 22:37] jackkrooss commented on #195
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.g879235c161_1_0

[2020-05-28 22:38] jackkrooss opened #196 "UIN - Create/Edit Supply Site"
![image](https://user-images.githubusercontent.com/64096573/83200912-3a155980-a0f9-11ea-9210-34ce553a08c0.png)

[2020-05-28 22:41] jackkrooss commented on #196
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.g879235c161_3_8

This one is different because it is a CHANGE to the Create Supply screen. The current system does not permit editing of the Supply Site information. This screen WILL permit review and edit of supply site information.
NOTE: I got lazy and did not add the table to the right, but it it a

[2020-05-29 03:02] jackkrooss opened #197 "UIN - Template [Do This One First]"
Create a dummy app to serve as a template for all the UIN screens.  standard titling, header, left/right breakline, and an example of each style element (buttons colors, sizes, fonts etc.). We can put it up for comment and iterate a bit until we like the decisions and it has everything we need.

[2020-05-29 04:22] jackkrooss commented on #197
![image](https://user-images.githubusercontent.com/64096573/83220965-529d6800-a129-11ea-991c-4c5885bfa4ac.png)

[2020-05-29 04:24] jackkrooss commented on #197
Above is a first cut at the template ^^^^^^ Please feel free revise improve etc.  I have not yet gone back to update the slides, but I will an when I do they will be reflected in the linked document, not the original image captured.

[2020-05-29 04:25] jackkrooss commented on #197
https://docs.google.com/presentation/d/1QLCMbJh8hPtsxJZ11p6uNVNNFc_zr3KiR9e3ucT5SE8/edit#slide=id.g85feb3a20b_0_0

[2020-05-29 04:36] jackkrooss commented on #197
The general principle here is that graphical elements can be either be 1/4, 1/3 or 1/2 width. That goes for buttons, but also for fill in boxes and text areas. Likewise they can single or double height. Of course exceptions can be made, but the fewer the better.

[2020-05-31 07:00] jackkrooss commented on #174
https://docs.google.com/spreadsheets/d/17vdH1YvMlwdgwCLk9sx_zQqaBzz_l4PyThQ_HmKlPsQ/edit#gid=0

Megan has provided her data and created products for each item. I told her we would get it loaded as soon as possible. Also, she is saying that some of the products are less than $1. I told her we have the less than $1 change made, but it still needs to be released. Will advise her when it is OK to go b

[2020-06-01 22:37] ryuncom commented on #197
@jackkrooss
I made all the visuals for the template, but I am not sure whether we want to include the actual functionalities (variables, etc.) linked to the template.
Here is the link: https://three-d-corps.tulip.co/groups/d9MiteBCf872iFWZn/processes/ruaPbQ7HPdBNBJ5mE/versions/B95Jw9rRHzEtutvqN/steps/uJ5Bs9fJKenfr5ESs
Please let me know how you think about these!

[2020-06-01 22:58] jackkrooss commented on #197
@ryuncom
Thank you this is looking great. I don't think we need to hook up anything as these are for cutting and pasting into other screens so we have a consistent look. If you don't mind I am going to play with it a bit. I will let you know when I have something to share.

[2020-06-01 23:51] ianslai commented on #114
Final wording was changed to "Create Supply Site"

[2020-06-02 00:02] jackkrooss commented on #197
@ryuncom
I have updated the template. Label font size is 24. Text font size is 25. We will not be able to use two row buttons because Tulip does not align center two row labels. So we are down to just narrow buttons. That's fine. I will update the slides to just use one vertical size, and no two row buttons.

 Somehow I messed up the table. Can you explain to me how to get the normal table back?

[2020-06-02 00:10] ianslai commented on #141
Good idea, done!

[2020-06-02 00:19] ianslai commented on #150
Changes made thus far have been published in Version 29.

[2020-06-02 00:48] jackkrooss commented on #197
OK, I think I am done fooling around with it. Comments suggestions welcome

[2020-06-02 00:53] jackkrooss commented on #197
Buttons: Blue: #5299F5, Red #E35852, Grey #BDBDBD, Green #65AC5B
Labels #5299F5
Text #616161
Label Font Size 24
Text Font Size 25

[2020-06-02 03:11] ryuncom commented on #197
Looks Great!
I will move this to final review.

[2020-06-02 07:00] jackkrooss commented on #197
Bit of confusion about Snapshots and development version, but I think it is worked out. Here is a link to the current development version of the Template. I think this is done and unless anyone has any objections to anything available for copy/paste of elements.
https://three-d-corps.tulip.co/groups/d9MiteBCf872iFWZn/processes/ruaPbQ7HPdBNBJ5mE/versions/cXka5m3HDbA3LfAAg/steps/pTkFipLvbsy7X28E7

B

[2020-06-02 16:40] jackkrooss commented on #197
Added PPE Logistics title to top line. For some reason this does not show up in the player when I hit run. Caching?

[2020-06-02 16:49] jackkrooss commented on #197
https://three-d-corps.tulip.co/groups/d9MiteBCf872iFWZn/processes/ruaPbQ7HPdBNBJ5mE/versions/ukMqkpynGvPYhw7tk/steps/E7ZLfKy52qM2BvHAp

Deve version link? ^^^^^^^^^^^^^^

[2020-06-04 04:42] jackkrooss opened #198 "Create Dashboard for Pandemic Relief Supply"

[2020-06-04 17:52] ilya-bass commented on #198
@jackkrooss this is all set http://ppelogistics.org/supplier/pandemicreliefsupply/dashboard/01

[2020-06-04 17:52] #198 closed, assigned to contextref

[2020-06-05 06:02] jackkrooss opened #199 "Inventory Dashboard shows inventory locations by some long key number, not the name. Should show it by name"
![image](https://user-images.githubusercontent.com/64096573/83842341-8cd1b100-a6b7-11ea-8a89-9dc707fc9251.png)

[2020-06-05 06:03] jackkrooss opened #200 "Inventory Dashboard, need to be able to filter by product"

[2020-06-05 06:06] jackkrooss commented on #200
![image](https://user-images.githubusercontent.com/64096573/83842509-0073be00-a6b8-11ea-9e6a-03b4680818e4.png)

[2020-06-05 06:18] #200 closed, assigned to jackkrooss

[2020-06-05 17:07] ilya-bass commented on #199
This was yet another case of workcenter conversion, I fixed another data source to use workcenters.wcname...

[2020-06-05 17:07] #199 closed, assigned to contextref

[2020-06-06 06:37] jackkrooss opened #201 "BIG BUG. Saving values for the products does not work correctly."
I saved the iproduct with a 5 dollar value. Then I tried to change the value to 0.5 it said it saved, but then it is still 5 dollars when I click on the product.

[2020-06-06 06:43] jackkrooss commented on #201
It seems like it is a bigger problem. I try to change it to 1 dollar from 5 dollars and it does not work either. Sometimes the value field is just blank. This is a big bug!

[2020-06-06 06:48] jackkrooss commented on #201
In fact the behavior when you change product values is really strange.  I change the value and hit save. The info disappears which it should not. If you then click on the item again the value field is blank. If you click on other products the values of those seem to either change ofr get copied to the one that was changed initially.

[2020-06-06 06:49] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938193-421f6a00-a787-11ea-8f54-21c8a8a9220f.png)

[2020-06-06 06:50] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938204-56636700-a787-11ea-8752-7ebfb1c4f8dd.png)

[2020-06-06 06:51] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938217-6f6c1800-a787-11ea-9c3d-1a2182b8f9b5.png)

[2020-06-06 06:51] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938247-86ab0580-a787-11ea-99bd-c13895cc160d.png)

[2020-06-06 06:52] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938257-9d515c80-a787-11ea-8c78-7ac3b21cdc0f.png)

[2020-06-06 06:53] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938269-b22df000-a787-11ea-8b48-7ea1db48bc33.png)

[2020-06-06 06:55] jackkrooss commented on #201
So above, I never type in 2 for the disposable mask. All I did was to select the Sanitizer after saving the changed value for the mask. One other thing to not here is that I had another Face Mask that I misspelled, so I changed the spelling which created a new product and I deleted the misspelled one. Not sure if that is relevant.

[2020-06-06 07:00] jackkrooss commented on #201
More...
![image](https://user-images.githubusercontent.com/64096573/83938401-b0b0f780-a788-11ea-9225-bc3c3ed088f4.png)

[2020-06-06 07:01] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938423-cde5c600-a788-11ea-9c1b-81b00def1ef0.png)

[2020-06-06 07:02] jackkrooss commented on #201
Now I tried to change the black maask to 5 dollars and BOTH the disposable and the black mask changed to 0.5

[2020-06-06 07:03] jackkrooss commented on #201
This is all in a demo site I am creating for an opportunity with the King County government and Chamber of Commerce.

King County PPE Demo

	Login ID: 		9510000104
	PW:			7822450094
	Name: 			PPEL Support
	Supplier:		King County PPE Demo
	Supplier Manager PW: 	KKPPE999

If you go in here, please feel free to make changes and bang on it.

[2020-06-06 07:12] jackkrooss commented on #201
More... I Went into my PPE US (Test Only) and the behavior is the same. After you update a value the value is blank. It then seems to inherit whatever the value is of the items selected after you change value. See below

[2020-06-06 07:12] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938571-5dd83f80-a78a-11ea-8423-0ac9b84516a6.png)

[2020-06-06 07:12] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938581-70527900-a78a-11ea-8c9a-906bacbca422.png)

[2020-06-06 07:13] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938589-84967600-a78a-11ea-951c-f09e1f53c8c7.png)

[2020-06-06 07:15] jackkrooss commented on #201
Whatever product I select will fill in the value of the "corrupted product".

This is a very big bug, because it seems we are corrupting the products when we change the value, just once, and it does not seem to go away. I see what happens when you log out and back in.

[2020-06-06 07:16] jackkrooss commented on #201
![image](https://user-images.githubusercontent.com/64096573/83938622-f2db3880-a78a-11ea-8405-00de9eeffe02.png)

[2020-06-06 07:17] jackkrooss commented on #201
OK, went back to the Navigation screen and back into product and now it is back to its original value and seems stable. So maybe not so bad, you just cant change product value. I hope.... Needs to be fixed!

[2020-06-06 12:56] ianslai commented on #201
I haven't taken a look yet but I suspect this is what I reported in #162 :

[2020-06-06 14:24] jackkrooss commented on #201
Escalated to Mark

[2020-06-06 15:25] contextref opened #202 "Create a new dashboard for King County PPE Demo"

[2020-06-06 15:59] ilya-bass commented on #202
@jackkrooss this is done https://www.ppelogistics.org/supplier/kingcountyppedemo/dashboard/01

[2020-06-06 15:59] #202 closed, assigned to contextref

[2020-06-06 16:50] jackkrooss commented on #201
Mark agrees that this is likely a Tulip bug. Suggests that the work around is to convert it to text:

[2020-06-06 21:31] ilya-bass commented on #201
I have this fixed in development.  @jackkrooss please verify and I will publish.  I had to convert both USD and lead time to text in the app, and then parse as numbers on save to DB.  Needless to say if the user enters non-numbers or badly formatted numbers, the save fails but the error message is not very informative.  I am not aware of any way to make that better.

[2020-06-06 21:35] jackkrooss commented on #201
Thank you. I am not at home right now. I will test it thoroughly when I get
back in about 2 hours.

On Sat, Jun 6, 2020, 2:32 PM contextref <notifications@github.com> wrote:

[2020-06-09 02:04] ianslai commented on #187
Most of this is done.  I discovered a couple things:

- Adding page count (1 of 2) was actually a laborious chore; I opted to add it as an extra column (piece of data) to the database call that returns the list of orders, but because Tulip doesn't let you modify objects that it automatically creates from DB connector calls, I had to create new objects and manually rewire every single trigger/varia

[2020-06-09 02:05] ianslai commented on #187
How it looks right now:

![Annotation 2020-06-08 220518](https://user-images.githubusercontent.com/7863470/84098038-31176880-a9d4-11ea-9339-2c6c90dca56c.png)

[2020-06-09 02:08] jackkrooss commented on #187
Wow! Looks great.

Yes, the X is logout, unless you have a better idea.

I am busy for a few hours. Will look in detail later tonight.

On Mon, Jun 8, 2020, 7:05 PM ianslai <notifications@github.com> wrote:

[2020-06-09 05:42] jackkrooss commented on #187
Ian! This is fantastic! It looks great!
I took a snapshot before I started to mess around.
1) I do not see any purpose in the inventory list on the left. Sorry, I should have realized this earlier, but it is IMO a completely useless list in the context of this page.If you want a general way to edit inventory, go to the Inventory Manager. That said, I guess it does make sense to leave the ability t

[2020-06-09 05:49] jackkrooss commented on #187
![image](https://user-images.githubusercontent.com/64096573/84110714-3b3c6580-a9da-11ea-88ee-96f9200e6ea1.png)

[2020-06-09 06:02] jackkrooss commented on #187
We should just only allow adjustment of the selected demand inventory item and get rid of the dropdown and the Inventory section altogether. Just move the "Add to Inventory Quantity" line up under the "Inventory    Available" . The context will be clear. Here it will be especially important not to blank the screen after updating the inventory for the selected demand item. That is, just only be abl

[2020-06-09 07:36] jackkrooss commented on #187
Ian, if the "1 of n" code is a kludge it is fine with me if there is simply just the arrows. I do not see that much utility in identifying how many pages. If there is another page then it will be obvious because the page will be filled up. If it was easy and you wanted to keep the page number that is fine too. If it is already done and you are happy with it, it is fine to keep the "1 of n", but no

[2020-06-09 19:01] jackkrooss commented on #187
![image](https://user-images.githubusercontent.com/64096573/84188735-ef74d500-aa48-11ea-841a-b5cead34a4fb.png)

[2020-06-09 19:03] jackkrooss commented on #187
Got rid of all inventory adjust functionality. Relocated move and logout and refresh. Cleaned it up. Think this is close. Just need to retitle the columns as described above and get rid of the STATUS column.

I will go through the slides tonight and  adjust with the logout refresh return buttons on bottom

[2020-06-10 08:32] jackkrooss commented on #188
Pretty much done, just need the top line to include the supplier name. Could use Ian's help with this.

[2020-06-10 08:33] jackkrooss commented on #188
![image](https://user-images.githubusercontent.com/64096573/84245764-66968180-aaba-11ea-91c9-294f315182f1.png)

[2020-06-10 22:21] ryuncom commented on #191
@jackkrooss
https://three-d-corps.tulip.co/groups/QoYKyRqFGDrL9s6Wm/processes/WDyYSae6RxhcwEGTx/versions/iutLmQAowQakC7phM/steps/gM5ckpQPDhwfTJS8x
Is this the "Product Manager" this ticket is referring to?

[2020-06-10 22:48] jackkrooss commented on #191
Yes. That is a more major remodel. Perhaps you should do an easier on like
Inventory Manager first?

On Wed, Jun 10, 2020 at 3:21 PM Ryun Han <notifications@github.com> wrote:

[2020-06-10 23:55] ianslai commented on #187
Per our conversation on Slack yesterday:

- Held off on renaming columns since that would require re-wiring all the invisible buttons and triggers
- Fixed page increment button so it does not allow incrementing past last page

At this point I believe we're done?  Moving to Ready for Review.

[2020-06-10 23:59] jackkrooss commented on #187
Great!

On Wed, Jun 10, 2020 at 4:55 PM ianslai <notifications@github.com> wrote:

[2020-06-11 00:07] ianslai commented on #188
Updated top line:
![Annotation 2020-06-10 1](https://user-images.githubusercontent.com/7863470/84330647-f6d5d480-ab55-11ea-83e9-927185affa7e.png)

[2020-06-11 01:15] ianslai commented on #189
After Changes:
![Courier Manager](https://user-images.githubusercontent.com/7863470/84334022-4e2c7280-ab5f-11ea-8f1b-8d9d55864af5.png)

I noticed that the courier name could be long, and at the current font size it unfortunately wraps onto the next line in a not too pretty way.

[2020-06-11 01:17] jackkrooss commented on #189
We can use a smaller font

On Wed, Jun 10, 2020, 6:15 PM ianslai <notifications@github.com> wrote:

[2020-06-11 01:18] jackkrooss commented on #189
Feel free to make editorial changes

On Wed, Jun 10, 2020, 6:17 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-06-11 01:20] jackkrooss commented on #189
Why does it say "Markus updated". Something I am not understanding...

On Wed, Jun 10, 2020, 6:15 PM ianslai <notifications@github.com> wrote:

[2020-06-11 01:23] jackkrooss commented on #189
28 is a nice font size:
[image: image.png]

On Wed, Jun 10, 2020 at 6:20 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-06-11 02:00] jackkrooss commented on #188
👍

On Wed, Jun 10, 2020, 5:07 PM ianslai <notifications@github.com> wrote:

[2020-06-11 02:44] contextref opened #203 "Add serialstring to GS-Dashboard data source"

[2020-06-11 07:17] jackkrooss commented on #190
Got the layout mostly done. This needs to be hooked up. Some of the UI changed in a way that requires use of different input widgets. It is pretty self explanatory. I left the old weird multipurpose input widget on the top. It can be removed once the other boxes are hooked up. Also need to hook up some labels.
![image](https://user-images.githubusercontent.com/64096573/84356338-e71bb780-ab78-11ea-

[2020-06-11 18:24] ryuncom commented on #191
Sure I will work on that one first.

[2020-06-11 21:57] ianslai commented on #189
It was one of the test couriers, I'm not sure why it was named that :)

[2020-06-11 21:59] ianslai commented on #189
I made the font size smaller but made it bold so it's more accentuated.  I think now it should be OK for longer courier names.  Example:
![courier manager name](https://user-images.githubusercontent.com/7863470/84443237-30b5e200-ac0d-11ea-8659-e35d85f5b8fb.png)

[2020-06-11 22:16] ianslai commented on #190
Working on hooking up buttons right now.  This will take some time because some of the new buttons did not exist so I have to write/adapt the triggers for them.  Will also need to adjust existing triggers to handle the removal of the bottom two table rows.

[2020-06-11 23:26] ianslai commented on #190
Did most of the hookup; the Lookup functionality is new so I will have to think about how to implement that for the next session when I have time.

[2020-06-12 04:18] jackkrooss commented on #193
![image](https://user-images.githubusercontent.com/64096573/84464326-0ffb8580-ac29-11ea-93b8-c06617a3bf56.png)

[2020-06-12 04:18] jackkrooss commented on #193
Pretty much done. Still needs top line title.

[2020-06-12 04:20] jackkrooss commented on #192
![image](https://user-images.githubusercontent.com/64096573/84464436-5355f400-ac29-11ea-9132-21d7d2a5a178.png)

[2020-06-12 04:20] jackkrooss commented on #192
Pretty much done. Still needs top line title. And some more tweeking.

[2020-06-14 00:53] jackkrooss commented on #191
Pretty much done. Needs top line and final pass

![image](https://user-images.githubusercontent.com/64096573/84582264-c765d880-ad9e-11ea-9d3f-7060faef601c.png)

[2020-06-14 19:04] ianslai commented on #190
I believe everything is looked up at this point; moving to Final Review

[2020-06-14 19:13] ianslai commented on #192
Added top line and fixed table code to remove the line that was taken out (which was causing issues with selecting orders due to vertical scrolling)

[2020-06-14 19:18] ianslai commented on #193
Added top line and did similar fix to Order Manager (lowered number of rows returned in table to match the number of rows since one row has been removed from the invisible buttons).  Also fixed width of invisible buttons so they extend to the left margin of the table.

[2020-06-14 21:00] ianslai commented on #194
Here's what I have so far.

- It seems adding Primary Contact info for the organization would require additional coding/investigation.
- I wasn't sure what to do with the existing Deliver Address/Notes but they seem to be tied to the Customer, not the Organization, so I put it there.
- The Select button for Create Order actually does nothing, since the selected product is a variable tied to the it

[2020-06-14 21:50] jackkrooss commented on #194
Clear Form for the Organization does not reset the dropdown selector

[2020-06-14 21:58] jackkrooss commented on #194
In the order manager is it easy to make the filter selections drop downs instead of text entry fields?

[2020-06-15 23:42] ianslai commented on #194
Fixed

It's possible (I wouldn't call it easy).  But I took a quick look at the MasksOn data and for each of those dropdowns, there would be about 5000 items in the dropdown (for both Organization and Customer filters).  I'm not sure that having a dropdown there would necessarily be a good idea?  Right now you can just type in a fragment of the names of either to filter for the one(s) you care abo

[2020-06-15 23:59] jackkrooss commented on #194
Oh, didnt realize that you could enter fragment. That is fine then

On Mon, Jun 15, 2020, 4:42 PM ianslai <notifications@github.com> wrote:

[2020-06-17 01:22] ianslai commented on #196
I hooked up the Create/Edit Supply Site screen and tested both creating and editing supply sites.  The following screenshot is how it looks right now.

I removed the extraneous line below "Supply Sites - <Organization Name>" and kept the table as is (11 rows high).  If you'd like more rows let me know, I can try and add an invisible button.  Or if we want filters we can put them in that blank spac

[2020-06-17 02:37] jackkrooss commented on #196
Awesome! Thank you so much.

On Tue, Jun 16, 2020, 6:22 PM ianslai <notifications@github.com> wrote:

[2020-06-17 06:53] jackkrooss commented on #196
No work for me today. My daughter accidentally let one of her cats get out,
and we spent all day looking for him. He just was found. Great relief!

On Tue, Jun 16, 2020, 7:37 PM Jack Krooss <jackkrooss@gmail.com> wrote:

[2020-06-19 23:11] jackkrooss opened #204 "Workspace Navigation"
Update the workspace navigation screen
![image](https://user-images.githubusercontent.com/64096573/85185117-7d21a300-b247-11ea-9600-2a0720a227cc.png)

[2020-06-19 23:11] jackkrooss commented on #204
Still need to revise the other ones

[2020-06-23 07:13] jackkrooss commented on #192
![image](https://user-images.githubusercontent.com/64096573/85372208-5cc34400-b4e6-11ea-86dd-53154a02dd2e.png)
Must have broken filtering. Tried to filter by order and it does not work

[2020-06-23 07:43] jackkrooss commented on #192
In fact I broke all filtering somehow

[2020-06-23 07:44] jackkrooss commented on #193
![image](https://user-images.githubusercontent.com/64096573/85375103-aca40a00-b4ea-11ea-9f24-7f9a12f55683.png)
Hyroglyphics for institution in table

[2020-06-23 15:10] contextref commented on #193
Sounds like the "Hyroglyphics" bug is fixed, I am not seeing it in the latest Customer Manager screen.
I was having trouble adding a new customer to an institution.
Despite entering an address and contact data, I am still getting "Missing contact information or delivery address".

[2020-06-23 15:20] ilya-bass commented on #193
Hyroglyphics seems fixed now.

Adding a new customer is hard to do without knowing that an institution needs to be selected.  The UI around it and the error message need to be improved.

[2020-06-23 15:53] jackkrooss commented on #194
Added clearer error message and an on screen instruction to make it clear you need to use Select button

[2020-06-24 21:46] #150 closed, assigned to ryuncom

[2020-06-24 21:47] #117 closed, assigned to nobody

[2020-06-24 21:54] #115 closed, assigned to nobody

[2020-06-24 21:55] #181 closed, assigned to nobody

[2020-06-24 21:55] #145 closed, assigned to nobody

[2020-06-24 21:56] #121 closed, assigned to nobody

[2020-07-13 08:35] jackkrooss opened #205 "Pandoras Box"
This issue covers both editing orders and circumventing lots of issues with the order state. In order to circumvent the strategy is to:

- Eliminate partial reserves
- Eliminate HOLD
- Only permit editing of the order when it is status CSR-RESERVE
- Only permit changing status to OPEN when the status is CSR-RESERVE
- Permit CLOSING the order anytime, but leave no way to reopen

There is still a pr

[2020-07-13 16:09] jackkrooss opened #206 "PPE2PHL Angela Court wcid"
PPE2PHL Customer Manager still has the hieroglyph institutions: (edited)

![image](https://user-images.githubusercontent.com/64096573/87326591-caf89680-c4e7-11ea-8204-2891153a8e22.png)

Use above info if you need to get into PPE2PHL:
PPE2PHL Support:
	PPE2PHL
	Login ID: 		9510000102
	PW:			7822450092
	Name: 			PPEL Support
	Supplier:		PPE2PHL
	Supplier Manager PW: 	sourcePPE

Detective work.... Lo

[2020-07-13 16:23] ilya-bass commented on #206
I took the query directly from the connector function and ran it myself, and not seeing the same order of records, nor am I seeing Angela Court.  This is puzzling, as I am not sure how this gets transformed later on.  Either the query is not run with the same inputs or I am missing some logic elsewhere in the step.  I will continue debugging tonight.

[2020-07-13 16:30] jackkrooss commented on #206
Correction, all the messed up ones are not status REVIEW. Seems unrelated to status

[2020-07-13 16:40] jackkrooss commented on #186
I decided to try and add a bunch of customers to try to replicate the PPE2PHL Angela Court wcid issue, and I ran into this again. When you create a customer it does not show up in the customer list, howver when you add the first order it does and status is REVIEW.
![image](https://user-images.githubusercontent.com/64096573/87330068-dc906d00-c4ec-11ea-9cc2-d6a1b74968f9.png)

[2020-07-13 16:56] jackkrooss opened #207 "Edit Create orders not listed in order"
Not a huge big deal, but when creating orders with multiple line items the line items are not listed in numerical order:

![image](https://user-images.githubusercontent.com/64096573/87331630-224e3500-c4ef-11ea-8b3a-7db97cd071a7.png)

[2020-07-13 16:59] jackkrooss commented on #207
![image](https://user-images.githubusercontent.com/64096573/87331859-896be980-c4ef-11ea-87df-acdac1b6bebe.png)

[2020-07-13 17:04] jackkrooss commented on #206
Replicated issue with Kirby PPE Dreamworld in our dev env. Added a bunch of customers and they all listed fine on the first screen of the Customer Manager. Pressing the ">" to go to the second screen did nothing. But when I got the first screen full -- even before it ran over to screen 2 -- and pressed ">" I got a blank screen 2. Then going back by pressing "<" I got this:
![image](https://user-im

[2020-07-13 17:06] jackkrooss commented on #206
Pressed Edit/Creat and then back to Customers and we are back to real Institution names:
![image](https://user-images.githubusercontent.com/64096573/87332527-87565a80-c4f0-11ea-9f75-f4ded8b97fc3.png)

[2020-07-13 17:08] jackkrooss commented on #206
This is repeatable. Reenter the screen, all is OK, use ">" and then "<" it is messed up. I am not going to add any more customers just leave this for Ilya to look at.

[2020-07-13 17:14] jackkrooss commented on #206
Kirby:
Phone: 2643383279
Password "supplier"

[2020-07-13 19:14] jackkrooss opened #208 "Finalize the fix to the Print screen issue."
Putting the old Print screen back stopped the bleading, but we should tiew this off by updating it with the new button styles and testing the Return etc. We also need to test the new Print buttons on the Shipping Manager screens.

[2020-07-13 19:15] jackkrooss opened #209 "Shipping Manager performance"
Figure out what is going on with Shipping Manager performance

[2020-07-13 23:18] contextref opened #210 "Figure out why some orders are not showing up in datastudio filters (e.g. MOA6452)"

[2020-07-13 23:20] ilya-bass commented on #210
The problem was datastudio limit of 10000 items in a list filter.  Replaced with Search All filter and that works now.  Updated both page 5 and page 10 in MasksOn report.

[2020-07-13 23:20] #210 closed, assigned to contextref

[2020-07-14 00:43] ilya-bass commented on #209
this was due to unnecessary loading of various global data, including all workcenters in the universe.  in non-SN version, it was exacerbated by loading all workcenters in a dropdown list.  I removed initialization and the related variables, and published in both Shipment Mgr and Shipment Mgr SN.

[2020-07-14 00:43] #209 closed, assigned to contextref

[2020-07-15 17:08] ianslai commented on #206
When the page is initially loaded, it's using the **CSR - Customers 5 w/ org (wcid)** connector, which uses the `wcname`
from `workcenters` that is associated with the customer's orders (in the `demands` table) to display the institution.

But when you use the > and < nagivation buttons, it uses the **CSR - Customers 5 w/ org** connector, which uses the raw value of the `hospital` column for the c

[2020-07-15 17:21] jackkrooss commented on #206
I am having some computer issues. Should be back online soon.

On Wed, Jul 15, 2020, 10:08 AM ianslai <notifications@github.com> wrote:

[2020-07-15 21:05] jackkrooss opened #211 "Customer Manager / Editor retooling"
This issue addresses a scheme that Ian and I worked out this morning to improve the customer manager and the customer editor. One of the benefits is that it eliminates the dropdowns from the editor. The other benefit is that it eliminates duplicates of information and simplifies the Institution/Customer schema.

The basic idea is to eliminate editing of customer information on the Customer Manger

[2020-07-15 21:09] jackkrooss commented on #211
Note that the edit button atm is just a jump to the new screen, and does not populate the form on Customers and Orders Editor. I have simulated this on the bottom right for dev purposes with the dropdowns, but the idea is to lose the dropdowns and autopopulate the customer.

The other functionality supported by this editor screen is entering new orders. This can be done by simply filling out an em

[2020-07-15 21:11] jackkrooss commented on #211
Note that this new approach collapse a lot of the Institution/Customer stuff with multiple customers per Institution and Primary customers etc. I think this is a can of worms, and if we can get away with it it is better to just disable this functionality. I understand that under the hood it is still the same, but the multiple customers per institution will no longer be exposed to the user.

[2020-07-15 21:37] #206 closed, assigned to contextref, ianslai

[2020-07-16 04:42] ilya-bass commented on #211
ok, I made some progress, but there are a lot of fiddly bits still, and Save is not fully saving all the fields properly
more tomorrow night

[2020-07-16 21:00] jackkrooss opened #212 "Ghost Inventory"
When you reserve an item it subtracts it from available inventory. If it is subsequently closed without shipping it it is removed from the shipping screen, but the available inventory is not added back in. So there is a descrepency between Inventory (QTY) and Available Inventory (AVAIL). This discrepancy becomes a ghost (GHOST)  in the system which can not be removed. If you add to inventory both

[2020-07-16 21:34] jackkrooss commented on #212
The above just fixes the problem. It does not provide any way to remove the GHOST inventory. Perhaps we should make a special button on the Inventory Manager that can force QTY and AVAIL to be equal. That is change AVAIL to QTY.

[2020-07-17 01:22] ianslai commented on #212
I did some preliminary investigation to figure out what's going on with various tables so I could understand how the data works in normal operations, and make sure we cover all the bases in terms of updating the state of the database.

In the Demand Manager, when a line item in an order is reserved:
- The `inventory` table is updated, incrementing `qty_reserved` by the appropriate amount for the c

[2020-07-17 01:58] ianslai commented on #212
I have what I think is a fix, but need to confirm whether we should do the second step.

Basically, when we close an order, I would update the `inventory` table for the appropriate locations/items to decrease `qty_reserved` by the amount in the given order, for lines that are in the `RESERVED` status if the order isn't yet `CLOSED`.  However, I was thinking we would also update the `demands` table

[2020-07-17 02:42] ianslai commented on #212
We discussed this in Slack and decided it was better for now to skip reverting the changes to the order.

I created a connector called *Order - Close Order and Replace Inventory* that can be used in the Close button (replacing the call to "CSR - Order Status").  Will resume testing tomorrow.

[2020-07-17 07:53] jackkrooss commented on #211
tested and can not find any problems. I think it is good to go!

[2020-07-17 13:27] ilya-bass commented on #211
thanks @jackkrooss
I cleaned up the old hospital and customer dropdowns and their population -- that was the source of the slowdowns for MasksOn.  Found a bug where institution notes were not being saved, and fixed it.
I agree, we should publish today; if you could give MasksOn a heads-up, and also confirm that slow load is fixed when published, that'd be great.  Let's take note of the previous ap

[2020-07-17 20:21] ianslai commented on #212
Created snapshot of fix.  Tested canceling multiple times; after the first Cancel, the inventory is unaffected.

I discovered you couldn't create a transaction block in the connector so I left only the inventory update in there.  The actual closing of the order is performed by the pre-existing call to "CSR - Order Status".

[2020-07-17 22:57] contextref opened #213 "Paging through Customer Manager list of customers is slow for MasksOn"
So far looks like this is due to the connector function https://three-d-corps.tulip.co/connector/6sfDwFFqr48qD39yK/function/ZFjtvJ7eghNwG5qam

Need to debug the query.

[2020-07-17 22:59] ilya-bass commented on #174
Waiting to hear if this is still needed.  Might not be, if Miami can just alter the date in the spreadsheet themselves when they use to for their tax reporting or whatever.

[2020-07-17 23:02] jackkrooss opened #214 "Filtering the Demand Manager and Shipment Manager by OrderID"
Like it says....

[2020-07-17 23:14] ilya-bass commented on #214
Good news!  Based on some experiments I did, if the names of the output fields in the function are the same, then new variables don't need to be introduced.  So filtering may not be as hard.  We just need to introduce new variants of the list query functions with an optional input of order id to filter on.

[2020-07-18 06:06] jackkrooss opened #215 "Add customer name to shipping screen"
For some reason the shipping info does not include tha customer name and it is not available as a variable to add. Can this be added?

[2020-07-18 15:20] ilya-bass commented on #215
@jackkrooss you mean Shipment Manager screen, right?  Just want to make sure.

[2020-07-18 15:42] ilya-bass commented on #215
@jackkrooss I added the customer's name to the "destination" field.  A separate field is too much pain because this would mean new output of the connector function, necessitating changes in all the invisible rows.  I hope this is good enough?  It's not published but is in final review.  Can undo easily if needed.

[2020-07-18 15:46] jackkrooss commented on #215
Thank you. Looking now.

On Sat, Jul 18, 2020, 8:42 AM contextref <notifications@github.com> wrote:

[2020-07-18 15:52] jackkrooss commented on #215
I think that is perfect! Great idea. Excellent. Thank you. We can close this.

[2020-07-18 15:54] jackkrooss commented on #215
Actually, I am going to increase the size of the field, so we should not publish yet.

[2020-07-18 16:43] jackkrooss commented on #215
Notes below are trying to debug Customer Name Fail Intermittant. Notes from Slack this am:
Jack Krooss  8:56 AM
@ilya, very strange. I was testing your new fix to the Shipment Manager and it looked great. Then I left the window to post my comment in github. When I went back the fix was gone:
8:56
image.png
image.png

8:57
image.png
image.png

Ilya Bass  8:57 AM
I'm away from the keyboard for a whi

[2020-07-18 16:47] jackkrooss commented on #215
Continuing:
Just logged out of Tulip and logged back in. Upon entry SM (shipping manager) is in "customer name error state" (CNES).
![image](https://user-images.githubusercontent.com/64096573/87857436-75ebc480-c8db-11ea-9b19-a7218ee81350.png)
Return and Ship and SM is in "customer name correct state" (CNCS).
![image](https://user-images.githubusercontent.com/64096573/87857462-b21f2500-c8db-11ea-88

[2020-07-18 16:48] jackkrooss commented on #215
Note above that the DESTINATION field in the table is also in error/correct state

[2020-07-18 16:51] jackkrooss commented on #215
Went back to Tulip Player after typing the above comment and we are back to CNES (error state):
![image](https://user-images.githubusercontent.com/64096573/87857518-41c4d380-c8dc-11ea-8dcc-3688db0b8dd0.png)

[2020-07-18 16:52] jackkrooss commented on #215
Will now try to close all windows and  reboot PC and see what happens. My bet is same performance.

[2020-07-18 17:00] jackkrooss commented on #215
So, reboot and start Tulip Player and we are in CNES (error state):
![image](https://user-images.githubusercontent.com/64096573/87857670-4dfd6080-c8dd-11ea-8b87-d18cc2444bbb.png)
Return and Ship and ENCS (correct state):
![image](https://user-images.githubusercontent.com/64096573/87857691-8866fd80-c8dd-11ea-8a53-5c400c0bb3a1.png)

[2020-07-18 17:01] jackkrooss commented on #215
I think at this point we should see if this behavior is repeatable by someone else.

[2020-07-18 17:27] jackkrooss commented on #212
This looks great Ian. Thank you. What remains is a strategy for resolving qty_reserved errors that have already been introduced. As we discussed in Slack, I am wondering if qty_reserved can be calculated at any time by looking at all of the RESERVED orders for the current location (involocation) and desired product (partnumber). Perhaps the calculation could run as part of the Demand Manager trigg

[2020-07-18 17:31] jackkrooss commented on #212
Function could even run any time a line item is selected from the table....

[2020-07-18 22:46] jackkrooss commented on #215
Just saw something different. Left Tulip Player to do some other things, reentered the window and the customer name was still in the selected order pane, but the table had changed and no longer included the the customer name.
![image](https://user-images.githubusercontent.com/64096573/87863236-e4e21100-c90d-11ea-8fe8-9f90d25942fe.png)

[2020-07-18 22:48] jackkrooss commented on #215
So, my theory is that the connector function you modified runs when the page is entered, but there is some other time that a function runs (perhaps a periodic automatic refresh) that uses the old function.

[2020-07-18 22:51] jackkrooss commented on #215
More... I can get the error state by just using the paging arrows!

Enter screen:
![image](https://user-images.githubusercontent.com/64096573/87863278-5f129580-c90e-11ea-84f2-c71d6a364fe6.png)

Page forward/page back:
![image](https://user-images.githubusercontent.com/64096573/87863297-7a7da080-c90e-11ea-8774-02fb4b7ad77e.png)

[2020-07-19 01:07] ilya-bass commented on #215
@jackkrooss  I fixed the paging arrows in SN and No-SN screens. I think that's all of it, please test and see if you can also repro the "leave the window" case because I still don't understand the connection there...

[2020-07-19 01:08] ilya-bass commented on #215
OOOOHH my Lord.  I found it.  There is a timer trigger that does automatic refresh!!

[2020-07-19 01:09] ilya-bass commented on #215
ok, fixed everywhere now.  With real code, I would have been able to avoid this :-(

[2020-07-19 02:52] jackkrooss commented on #215
Thought so

On Sat, Jul 18, 2020, 6:08 PM contextref <notifications@github.com> wrote:

[2020-07-19 17:02] jackkrooss commented on #212
Testing... created an order for 200 Foo Item 1 and reserved it for Grape Garden:
![image](https://user-images.githubusercontent.com/64096573/87880415-5ec5d900-c9a6-11ea-9f82-07c0816158e5.png)

![image](https://user-images.githubusercontent.com/64096573/87880450-a2204780-c9a6-11ea-9472-193fb44c24d6.png)

Now cancelled the order

![image](https://user-images.githubusercontent.com/64096573/87880476-c

[2020-07-19 17:03] jackkrooss commented on #212
I am going to publish now. As mentioned above this change does not correct ghost reserves already created, but it will correct the creation of ghost reserves going forward.

[2020-07-20 03:06] #215 closed, assigned to contextref

[2020-07-20 03:06] #211 closed, assigned to contextref

[2020-07-20 03:08] contextref opened #216 "Add filtering by email to Customers and Orders"

[2020-07-20 03:08] contextref opened #217 "Shipping label printing improvements"
See the thread under https://maskson.slack.com/archives/C011225T9FG/p1595171421012500
@markfreedmantulip should this be assigned to you? I have no idea where to begin, and I have a hell of a week coming up at work :-(

[2020-07-20 03:12] contextref opened #218 "Shipping address override function for when Google is screwing up"
See thread under https://maskson.slack.com/archives/G01171RR58D/p1595185182172800

@markfreedmantulip another one that should probably be assigned to you?

[2020-07-20 04:10] ilya-bass commented on #216
A little hacky as I didn't want to add a new search field.  It's using existing customer field to match either email or full name.

[2020-07-20 04:10] #216 closed, assigned to contextref

[2020-07-21 13:30] contextref opened #219 "Restore order qty adjustment capability"

[2020-07-21 13:31] #219 closed, assigned to contextref

[2020-07-21 13:31] ilya-bass commented on #219
Restored in version 53.  @jackkrooss I think you removed it on purpose, but John asked for it back

[2020-07-22 00:42] contextref opened #220 "Connector "CSR - Customer detail 4" is getting email and phone from the workcenter. Should be from the customer table"
See discussion here https://maskson.slack.com/archives/G01171RR58D/p1595340919190000

[2020-07-22 00:45] contextref opened #221 "Per John: "The biggest blocker for ramping Lightspeed output is the number of clicks needed to ship product.""
See https://maskson.slack.com/archives/C011225T9FG/p1595340882049100
but there are no specific details yet about what these too many clicks are.

[2020-07-22 01:20] ianslai commented on #213
At some point (following Jack's UIN mocks) I added the ability to tell how many pages there would be on that page, so we can avoid paging past the end and be able to show "Page X of Y".  But it's possible that's contributing to the query slowness.

[2020-07-22 01:21] ianslai commented on #214
This is implemented, though not yet published; I tested the Demand Manager more thoroughly than the Shipment Manager since we don't have enough shipments in the Dev data to go past page 1.  But in theory filtering should work equally well on both.

[2020-07-22 01:28] #220 closed, assigned to ianslai

[2020-07-22 01:28] ianslai commented on #220
Published and tested thanks to @contextref

[2020-07-22 22:43] ianslai opened #222 "Filter Demand Manager by Product"
MasksOn often fulfills demands by what products/sizes they have available; right now they have to page through orders for sizes that aren't in stock in order to get to the ones they can fulfill, which is cumbersome, especially since after each Reserve click the screen refreshes back to page 1.  Adding a filter for product should help streamline this process.

See videos from their Slack (in the pr

[2020-07-22 22:46] ianslai opened #223 "Handle Invalid Addresses in Shipment Manager"
MasksOn has a lot of orders with invalid addresses, so while they are preparing shipments they often get pages with invalid addresses that they have to sift through in order to get to ones that are ready for shipping.

One possible way to handle this would be to add a checkbox that would somehow filter out invalid addresses in the Shipment Manager.  (But what would be a robust way for doing so?)

[2020-07-22 23:09] ianslai commented on #222
This feature apparently already existed in the Demand Manager based on the variables and connectors it uses, so all that was required was to restore the dropdown on that screen.

[2020-07-23 02:54] contextref opened #224 "Per feedback from Lightspeed, it would help to have an ability to reserve many orders at once in Demand Manager"

[2020-07-23 23:54] ianslai commented on #207
I ended up modifying the Connector SQL directly to add `ORDER BY orderline ASC` as that was easier.

I also fixed a similar issue in the Order Manager screen (Selected Order Detail).  That would have taken a long time to fix the "right way" by adding a new Connector because the connector to load the order was tied to every single invisible button.

[2020-07-23 23:54] #207 closed, assigned to ianslai

[2020-07-23 23:57] ianslai commented on #224
From my investigation for #212, this is what currently happens when you reserve 1 order line in the Demand Manager:

- The `inventory` table is updated, incrementing `qty_reserved` by the appropriate amount for the current location (`involocation`) and desired product (`partnumber`)
- The `demands` table is updated several times for the selected order line (with database ID `uid`):
   - increment

[2020-07-24 14:59] ilya-bass commented on #224
@ianslai good summary. Probably a good idea to introduce a confirmation screen in there which would display the total number of items about to be reserved, as well as how many would be remaining in the inventory as a result

[2020-07-24 22:25] ianslai commented on #223
Having played around with the data a bit, it seems this captures close to 99% percent of what appear to be good addresses:
[code]
Foreign addresses are potentially another case that one might want to home in on, although I don't know if in this case MasksOn needs to manually generate a shipping label anyways?
[code]
There are a handful of good addresses that do not follow the format above, but tho

[2020-07-25 00:34] ianslai commented on #223
I snapshotted my changes, which now add a new dropdown box in both Shipment Manager and Shipment Manager (SN).

Since I don't have GoShippo I can't do a full test to make sure that the filter stays in place going through the MasksOn workflow, but I did experiment using Print Label to confirm that going from step to step doesn't throw that data away.

There are several buttons that do reset all fil

[2020-07-25 17:27] jackkrooss commented on #224
per conversation with John Rousseau I do not think we need to do this. Now that Ian has 1. retained filtering parameters after reserving and 2. implemented "Address Filtering", the work flow is sufficiently speedy to reserve lots of items with the same filter parameters. Suggest we close this issue.

[2020-07-25 17:28] jackkrooss commented on #205
I think this is done. Suggest closing issue.

[2020-07-25 17:31] jackkrooss commented on #217
I understand that this is a bottleneck, but I believe it is more of a process issue and not a software matter. I am wondering if there is something about the design of the label that would make it better. We have a lot of flexibility in how we do the label. We could for instance print it in portrait vs. landscape mode and organize the information in any way you desire. Also, it is possible to dire

[2020-07-25 17:33] jackkrooss commented on #218
I believe that issue #223 covers this. We should close?

[2020-07-25 17:34] jackkrooss commented on #208
combine with #217 and close

[2020-07-25 17:36] jackkrooss commented on #221
Related to #217. I will take this and continue to commuynicate with John and Aaron

[2020-07-25 17:38] jackkrooss commented on #185
Whew! Closed

[2020-07-25 17:38] #185 closed, assigned to nobody

[2020-07-25 17:39] #149 closed, assigned to nobody

[2020-07-25 17:39] #116 closed, assigned to nobody

[2020-07-25 17:40] #126 closed, assigned to nobody

[2020-07-25 17:41] jackkrooss commented on #171
Bad idea... close

[2020-07-25 17:41] #171 closed, assigned to nobody

[2020-07-25 17:42] #154 closed, assigned to nobody

[2020-07-25 17:43] jackkrooss commented on #163
Need to look at this again.

[2020-07-25 17:43] jackkrooss commented on #144
can not be done... close

[2020-07-25 17:43] #144 closed, assigned to ianslai

[2020-07-25 17:44] jackkrooss commented on #173
I think this is done.... needs testing

[2020-07-25 19:23] ilya-bass commented on #218
@jackkrooss I don't think this #223 covers it, it's just making it easier to ignore bad addresses.  What's needed here is some way to override them without going directly to GoShippo.  John can provide more details on that.

[2020-07-25 19:23] jackkrooss opened #225 "Only 2 Addresses per Customer"
Changing things to allow only a Main and Delivery address to simplify things.

Changes include:

1: Customer Manager: add deliver address to the selected customer
2: Order manager : remove Update buttons and add save functionality to Open button
NOTE: broke something with displaying display address for new orders

[2020-07-25 19:51] jackkrooss commented on #225
3. Remove the ability to update addresses from the Shipment Manager
4. Add the shipping address to the Demand Manger. Note: I can not find the address variable here need help with this!

[2020-07-25 19:56] jackkrooss commented on #225
So two problems:

A. When you create a new customer it does not populate the delivery address into the alt_address so when the order is first brought up there is no address

B. I would like to list the address on the Demand Manager (and I created a space to do so) but while I can get Region (which is deprecated) I can not get the address from the available variables.

[2020-07-25 23:17] jackkrooss commented on #225
Jack Krooss  3:57 PM
Anyway, I think that the place that whatever results in 'order detail 0 alt_address' on the Order Manager screen needs to get set in the Create/Edit screen is in the Submit Cart button trigger in the 'Transfer address to order' connector function.
Wow. (edited)

Jack Krooss  4:15 PM
OK, made a few small changes. In the Create/Edit Screen we are now calling them Main Address an

[2020-07-26 00:35] ilya-bass commented on #225
Whatever got accidentally pasted in this ticket was a "blowing off steam" conversation.  I offer my apologies, and other than that all I can add is I am still around and intend to continue helping, and appreciate everyone's efforts in building and maintaining PPEL.

[2020-07-26 01:54] jackkrooss commented on #225
My sincere apologies. This was my mistake. I intended to grab a couple paragraphs but accidentally posted an entire private DM thread, and quickly deleted it, but the email went out. As Ilya says I too am very appreciative of everyone's work. Again, very sorry.

[2020-07-30 22:35] jackkrooss opened #226 "Dashboard Orders Date range does not work"
Select date range on MMCH Dashboard Order returns No Data

https://datastudio.google.com/u/0/reporting/446b3b70-7336-48cf-af0a-d8788cfc5ddc/page/S9jOB

[2020-07-31 01:11] contextref opened #227 "MMCH is asking for a report of deliveries by volunteer (courier)"
Lashea Johnson is one example, need to figure out how to do this reliably in Datastudio.

[2020-07-31 02:03] #227 closed, assigned to contextref

[2020-07-31 02:03] ilya-bass commented on #227
this is done
https://datastudio.google.com/u/0/reporting/446b3b70-7336-48cf-af0a-d8788cfc5ddc/page/50FaB

[2020-07-31 22:11] jackkrooss opened #228 "Shipment Manager - Reformat Print Label"
Change to portrait mode. Reformat

[2020-07-31 22:13] jackkrooss commented on #186
When demoing PPEL to Resource 19 today, we experienced this issue. We created a new customer and then went to check the Customer Manager before entering the order. Now the customer is lost forever....

[2020-08-01 23:56] jackkrooss opened #229 "Create Site Null Address Bug"
When I was showing PPEL to John Miller Resource19, he got a null address when creating his second site. I can not recreate the bug.
![bugSupplyManagerEdit](https://user-images.githubusercontent.com/64096573/89112469-eafce500-d417-11ea-8521-b0a5602a8c9e.JPG)

[2020-08-01 23:57] jackkrooss commented on #229
![image](https://user-images.githubusercontent.com/64096573/89112484-0c5dd100-d418-11ea-9669-4f0bf15cbee6.png)

[2020-08-01 23:57] jackkrooss commented on #229
I have asked him if he can recreate the bug. Nothing to do unless it surfaces again.

[2020-08-03 17:12] ianslai opened #230 "Add Reset Functionality for Quantity Reserved"
For various reasons the `qty_reserved` field for a product's inventory can go out of sync with the total `qty_reserved` in currently open and reserved orders.  To help MasksOn and others get a handle on how much inventory they actually have, we should add a button that recalculates this field based on the current state of `demands`.

One proposal is to do this in the `Inventory Manager`, in the le

[2020-08-06 04:35] ilya-bass commented on #186
@jackkrooss I spent about a couple of hours trying to hack it.  So far no luck.  Will try more tomorrow.

[2020-08-07 07:33] jackkrooss opened #231 "Orders created in the Transports Manager do not work"
Seems that they go into the Courier manager, but you can not assign a courier.

[2020-08-07 13:25] ilya-bass commented on #186
ok, I tweaked the wording in the static text and in the post-save message.  Adding an item to a cart is enough to ensure the customer does not disappear.

Real fix requires too much hacking and I am giving up on that

[2020-08-07 13:25] #186 closed, assigned to contextref

[2020-08-11 07:29] jackkrooss opened #232 "There is no top org and site labels on the Navigation - Supplier Site page"
Not sure why, but they do not show up

[2020-08-11 19:56] ilya-bass commented on #223
Is this done and deployed now @ianslai ?

[2020-08-17 01:46] ianslai opened #233 "Limit NSRN Courier Network view to supported suppliers"
Right now the Courier Network Manager view (Supplier Manager > Transport Requests > Courier Manager) shows all couriers from all organizations.  NSRN is ramping up their support of various suppliers (Miami, Resource 19, PHL?) so it would be good to filter their view so that they don't see MasksOn or other courier requests.

In an ideal world there'd be a mapping in the database, and screens in the

[2020-08-17 01:48] ianslai opened #234 "Create dashboard for NSRN to track courier activity"
NSRN would like a dashboard where they can see activity of their couriers for tracking purposes.

[2020-08-18 23:52] ianslai commented on #233
Created new connectors:
- "Courier manager - Main 3 wcid w/ org filter" replaces "Courier manager - Main 2 wcid", and filters org of demand rows.
- "Transport Manager-Courier Dist 2 (wcid) w/ org filter" replaces "Transport Manager-Courier Dist (wcid)" and filters list of couriers to only those in the current org.

New behavior snapshotted; will do more extensive testing tomorrow.

[2020-08-19 16:27] ilya-bass commented on #234
I created a very simple dashboard that lists deliveries by all NSRN couriers https://datastudio.google.com/u/0/reporting/089d220f-891b-49ca-b960-99089fe4235e/page/50FaB .  @jackkrooss please take a look?